<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Koorist</h1>

<form class="admin__form" action="/api/about">

  <div class="column-container">
    <div class="admin__input-group">
      <h3 class="admin-heading admin-heading--tertiary u-margin">Taustapilt</h3>
      <input class="admin__hidden-input" id="aboutBackgroundImg" name="aboutBackgroundImg" type="file">
      <label class="btn btn--admin btn--admin--small" for="aboutBackgroundImg">Vali fail</label>
      <p class="admin__label" id="aboutBackgroundImgLabel"><%= data.staticImages[1].filename %></p>
      <img class="admin__preview" id="aboutBackgroundImgPreview" src="<%= data.staticImages[3].url %>" alt="Taustapilt">
    </div>
  </div>
  <hr>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="introHeadingEst" type="text" value="<%= data.staticSections[3].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" id="introHeadingEn" name="introHeadingEn" type="text" value="<%= data.staticSections[3].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="introSectionEstEditor"><%- data.staticSections[3].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="introSectionEst" name="introSectionEst" type="text" value="<%= data.staticSections[3].content.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="introSectionEnEditor"><%- data.staticSections[3].content.en %></div>
        </div>
      </div>
      <input class="admin__hidden-input" id="introSectionEn" name="introSectionEn" type="text" value="<%= data.staticSections[3].content.en %>">
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>


<%- include('../partials/footer') -%>
