<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/admin-nav', {data: data}); -%>
<%- include('../partials/admin-popup', {data: data}); -%>

<h1 class="admin__heading admin__heading--primary">Kontakt</h1>
<form action="/api/contact/intro" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="contactIntro">
  <h3 class="admin__heading admin__heading--secondary">Sissejuhatav tekst</h3>

  <div class="admin__form-field">
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" name="contactIntroEstEditor" id="contactIntroEstEditor">
          </div>
        </div>
        <input type="text" class="admin__hidden-input" name="contactIntroEst" id="contactIntroEst">
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" name="contactIntroEnEditor" id="contactIntroEnEditor">
          </div>
        </div>
        <input type="text" class="admin__hidden-input" name="contactIntroEn" id="contactIntroEn">
      </div>
    </div>
    <div class="admin__btn-group">
      <button class="admin__btn" type="submit" name="contactIntroBtn" id="contactIntroBtn">Salvesta</button>
    </div>
  </div>
</form>

<% for (var i = 0; i < 2; i++) { %>

<form action="/api/contact/sections/<%= i + 1 %>" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="contactSection<%= i + 1 %>">
  <h3 class="admin__heading admin__heading--secondary">Sektsioon <%= i + 1 %></h3>
  <div class="admin__form-field">
    <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <input type="text" class="admin__input admin__input--bold contactHeadingEst" name="contactHeading<%= i + 1 %>Est" id="contactHeading<%= i + 1 %>Est">
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <input type="text" class="admin__input admin__input--bold contactHeadingEn" name="contactHeading<%= i + 1 %>En" id="contactHeading<%= i + 1 %>En">
      </div>
    </div>
    <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor contactSectionEstEditor" name="contactSection<%= i + 1 %>EstEditor" id="contactSection<%= i + 1 %>EstEditor">
          </div>
        </div>
          <input type="text" class="admin__hidden-input contactSectionEst" name="contactSection<%= i + 1 %>Est" id="contactSection<%= i + 1 %>Est">
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor contactSectionEnEditor" name="contactSection<%= i + 1 %>EnEditor" id="contactSection<%= i + 1 %>EnEditor">
          </div>
        </div>
        <input type="text" class="admin__hidden-input contactSectionEn" name="contactSection<%= i + 1 %>En" id="contactSection<%= i + 1 %>En">
      </div>
    </div>
    <div class="admin__btn-group">
      <a class="admin__btn contactSectionDeleteBtn" name="contactSection<%= i + 1 %>DeleteBtn" id="contactSection<%= i + 1 %>DeleteBtn">Kustuta</a>
      <button class="admin__btn contactSectionBtn" type="submit" name="contactSection<%= i + 1 %>Btn" id="contactSection<%= i + 1 %>Btn">Salvesta</button>
    </div>
  </div>
</form>
<% } %>
<a class="admin__btn" name="contactSectionAddBtn" id="contactSectionAddBtn">+ Lisa Sektsioon +</a>


<form action="/api/contact/form" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="contactForm">
  <h3 class="admin__heading admin__heading--secondary">Ankeet</h3>

  <div class="admin__form-field">
    <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <input type="text" class="admin__input admin__input--bold" name="contactFormHeadingEst" id="contactFormHeadingEst">
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <input type="text" class="admin__input admin__input--bold" name="contactFormHeadingEn" id="contactFormHeadingEn">
      </div>
    </div>
    <hr class="admin__line">
    <% for (var i = 0; i < 2; i++) { %>
    <h3 class="admin__heading admin__heading--tertiary">Väli <%= i + 1 %></h3>
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <input type="text" class="admin__input admin__input--bold contactFormFieldEst" name="contactFormField<%= i + 1 %>Est" id="contactFormField<%= i + 1 %>Est">
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <input type="text" class="admin__input admin__input--bold contactFormFieldEn" name="contactFormField<%= i + 1 %>En" id="contactFormField<%= i + 1 %>En">
      </div>
      </div>
      <div class="admin__input-group">
        <div class="admin__input-item">
          <h3 class="admin__heading admin__heading--quarternary">KOHUSTUSLIK</h3>
          <input class="admin__checkbox contactFormFieldRequired" type="checkbox" id="contactFormField<%= i + 1 %>Required" name="contactFormField<%= i + 1 %>Required" <% if (true) { %> checked <% } %>>
        </div>
        <div class="admin__input-item">
          <h3 class="admin__heading admin__heading--quarternary">SUURENEV</h3>
          <input class="admin__checkbox contactFormFieldExpanding" type="checkbox" id="contactFormField<%= i + 1 %>Expanding" name="contactFormField<%= i + 1 %>Expanding" <% if (true) { %> checked <% } %>>
        </div>
      </div>
      <div class="admin__input-group">
        <a class="admin__small-btn contactFormFieldDeleteBtn" id="contactFormField<%= i + 1 %>DeleteBtn" name="contactFormField<%= i + 1 %>DeleteBtn">Kustuta</a>
      </div>
      <% } %>
      <div class="admin__btn-group">
        <a class="admin__small-btn" name="contactFormFieldAddBtn" id="contactFormFieldAddBtn">+ Lisa väli +</a>
      </div>
      <div class="admin__btn-group">
        <button class="admin__btn" name="contactFormFieldBtn" type="submit" id="contactFormFieldBtn">Salvesta</button>
      </div>
    </div>
</form>

<%- include('../partials/footer') -%>
