<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Kontakt</h1>

<form class="admin__form" action="/api/contact/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="contactIntroEstEditor"><%- data.intros[7].en %></div>
        </div>
        <input class="admin__hidden-input" id="contactIntroEst" name="contactIntroEst" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="contactIntroEnEditor"><%- data.intros[7].en %></div>
        </div>
        <input class="admin__hidden-input" id="contactIntroEn" name="contactIntroEn" type="text">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% for (var i = 0; i < data.contactSections.length; i++) { %>

<form class="admin__form" action="/api/contact/sections/<%= i + 1 %>">

  <h3 class="admin-heading admin-heading--secondary">Sektsioon <%= i + 1 %></h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="contactHeading<%= i + 1 %>Est" type="text" value="<%= data.contactSections[i].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="contactHeading<%= i + 1 %>En" type="text" value="<%= data.contactSections[i].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="contactSection<%= i + 1 %>EstEditor"><%- data.contactSections[i].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="contactSection<%= i + 1 %>Est" name="contactSection<%= i + 1 %>Est" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="contactSection<%= i + 1 %>EnEditor"><%- data.contactSections[i].content.en %></div>
        </div>
        <input class="admin__hidden-input" id="contactSection<%= i + 1 %>En" name="contactSection<%= i + 1 %>En" type="text">
      </div>
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--large deleteBtn" data-action="/api/contact/sections/<%= i + 1 %>">Kustuta</a>
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% } %>

<a class="btn btn--admin btn--admin--large addBtn" data-action="/api/contact/sections" name="contactSectionAddBtn" id="contactSectionAddBtn">+ Lisa Sektsioon +</a>

<form class="admin__form" action="/api/contact/form">

  <h3 class="admin-heading admin-heading--secondary">Ankeet</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="contactFormHeadingEst" type="text" value="<%= data.miscellaneous[0].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="contactFormHeadingEn" type="text" value="<%= data.miscellaneous[0].en %>">
      </div>
    </div>
  </div>
  <hr>
  <% for (var i = 0; i < data.contactForm.length; i++) { %>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Väli <%= i + 1 %></h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="contactFormField<%= i + 1 %>Est" type="text" value="<%= data.contactForm[i].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="contactFormField<%= i + 1 %>En" type="text" value="<%= data.contactForm[i].en %>">
      </div>
    </div>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">KOHUSTUSLIK</h3>
        <input class="admin__checkbox" name="contactFormField<%= i + 1 %>Required" type="checkbox" <% if (data.contactForm[i].required == "on") {%> checked<% } %>>
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">SUURENEV</h3>
        <input class="admin__checkbox" name="contactFormField<%= i + 1 %>Expandable" type="checkbox" <% if (data.contactForm[i].expandable == "on") {%> checked<% } %>>
      </div>
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--small deleteBtn" data-action="/api/contact/form/<%= i + 1 %>">Kustuta</a>
    </div>
  </div>
  <% } %>
  <div class="column-container">
    <a class="btn btn--admin btn--admin--small addBtn" data-action="/api/contact/form">+ Lisa väli +</a>
  </div>
  <div class="column-container">
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
  </div>

</form>


<%- include('../partials/footer') -%>
