<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/admin-nav', {data: data}); -%>
<%- include('../partials/admin-popup', {data: data}); -%>

<h1 class="admin__heading admin__heading--primary">S端ndmused</h1>
  <form action="/api/events/intro" enctype="multipart/form-data" class="admin__form" id="eventsIntro">
    <h3 class="admin__heading admin__heading--secondary">Sissejuhatav tekst</h3>

      <div class="admin__form-field">
        <div class="admin__input-group">
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EST</h3>
            <div class="admin__editor">
              <div class="editor" name="eventsIntroEstEditor" id="eventsIntroEstEditor"><%- data.intros[5].est %></div>
            </div>
            <input type="text" class="admin__hidden-input" name="eventsIntroEst" id="eventsIntroEst">
          </div>
            <div class="admin__input-item">
              <h3 class="admin__heading admin__heading--quarternary">EN</h3>
            <div class="admin__editor">
              <div class="editor" name="eventsIntroEnEditor" id="eventsIntroEnEditor"><%- data.intros[5].en %></div>
            </div>
            <input type="text" class="admin__hidden-input" name="eventsIntroEn" id="eventsIntroEn">
          </div>
        </div>
        <div class="admin__btn-group">
          <button class="admin__btn" type="submit" name="eventsIntroBtn" id="eventsIntroBtn">Salvesta</button>
        </div>
        </div>
  </form>

  <% for (var i = 0; i < data.eventsContent.length; i++) { %>

<form action="/api/events/content/<%= i + 1 %>" data-method="PUT" enctype="multipart/form-data" class="admin__form" id="eventsContent<%= i + 1 %>">
  <h3 class="admin__heading admin__heading--secondary">S端ndmus <%= i + 1 %></h3>
<div class="admin__form-field">
  <div class="admin__img-group">
    <div class="admin__input__group">
      <h3 class="admin__heading admin__heading--tertiary">Plakat</h3>
      <input type="file" name="eventsImg<%= i + 1 %>" id="eventsImg<%= i + 1 %>" class="admin__hidden-input file">
      <label for="eventsImg<%= i + 1 %>" class="admin__small-btn" id="eventsImg<%= i + 1 %>Label">Vali fail</label>
      <p class="admin__input-placeholder" id="eventsImg<%= i + 1 %>Placeholder"><%= data.eventsImages[i].filename %></p>
      <img class="admin__icon" src="<%= data.eventsImages[i].url %>" id="eventsImg<%= i + 1 %>Icon" alt="S端ndmuse plakat">
    </div>
  </div>
  <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
  <div class="admin__input-group">
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EST</h3>
      <input type="text" class="admin__input admin__input--bold eventsHeadingEst" name="eventsHeading<%= i + 1 %>Est" id="eventsHeading<%= i + 1 %>Est" value="<%= data.eventsContent[i].heading.est %>">
    </div>
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EN</h3>
    <input type="text" class="admin__input admin__input--bold eventsHeadingEn" name="eventsHeading<%= i + 1 %>En" id="eventsHeading<%= i + 1 %>En" value="<%= data.eventsContent[i].heading.en %>">
    </div>
  </div>
  <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
  <div class="admin__input-group">
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EST</h3>
      <div class="admin__editor">
        <div class="editor eventsContentEstEditor" name="eventsContent<%= i + 1 %>EstEditor" id="eventsContent<%= i + 1 %>EstEditor"><%- data.eventsContent[i].content.est %></div>
      </div>
        <input type="text" class="admin__hidden-input eventsContentEst" name="eventsContent<%= i + 1 %>Est" id="eventsContent<%= i + 1 %>Est">
    </div>
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EN</h3>
      <div class="admin__editor">
        <div class="editor eventsContentEnEditor" name="eventContent<%= i + 1 %>EnEditor" id="eventsContent<%= i + 1 %>EnEditor"><%- data.eventsContent[i].content.en %></div>
      </div>
    </div>
    <input type="text" class="admin__hidden-input eventsContentEn" name="eventsContent<%= i + 1 %>En" id="eventsContent<%= i + 1 %>En">
  </div>
  <div class="admin__btn-group">
    <a class="admin__btn deleteBtn eventsContentDeleteBtn" data-action="/api/events/content/<%= i + 1 %>" name="eventsContent<%= i + 1 %>DeleteBtn" id="eventsContent<%= i + 1 %>DeleteBtn">Kustuta</a>
    <button class="admin__btn eventsContentBtn" type="submit" name="eventsContent<%= i + 1 %>Btn" id="eventsContent<%= i + 1 %>Btn">Salvesta</button>
  </div>
  </div>
</form>
<% } %>
<a class="admin__btn addBtn" data-action="/api/events/content" name="eventsContentAddBtn" id="eventsContentAddBtn">+ Lisa S端ndmus +</a>

<%- include('../partials/footer') -%>
