<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">S端ndmused</h1>

<form class="admin__form" action="/api/events/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="eventsIntroEstEditor"><%- data.intros[5].est %></div>
        </div>
        <input class="admin__hidden-input" id="eventsIntroEst" name="eventsIntroEst" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="eventsIntroEnEditor"><%- data.intros[5].en %></div>
        </div>
        <input class="admin__hidden-input" id="eventsIntroEn" name="eventsIntroEn" type="text">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>
</form>

<% for (var i = 0; i < data.eventsContent.length; i++) { %>

<form class="admin__form" action="/api/events/content/<%= i + 1 %>">

  <h3 class="admin-heading admin-heading--secondary">S端ndmus <%= i + 1 %></h3>
  <div class="admin__input-group">
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--tertiary">Plakat</h3>
        <input class="admin__hidden-input" id="eventsImg<%= i + 1 %>" name="eventsImg<%= i + 1 %>" type="file">
        <label class="btn btn--admin btn--admin--small" for="eventsImg<%= i + 1 %>">Vali fail</label>
        <p class="admin__label" id="eventsImg<%= i + 1 %>Label"><%= data.eventsImages[i].filename %></p>
        <img class="admin__preview" id="eventsImg<%= i + 1 %>Preview" src="<%= data.eventsImages[i].url %>" alt="S端ndmuse plakat">
      </div>
    </div>
  </div>
  <hr>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="eventsHeading<%= i + 1 %>Est" type="text" value="<%= data.eventsContent[i].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="eventsHeading<%= i + 1 %>En" type="text" value="<%= data.eventsContent[i].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="eventsContent<%= i + 1 %>EstEditor"><%- data.eventsContent[i].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="eventsContent<%= i + 1 %>Est" name="eventsContent<%= i + 1 %>Est" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="eventsContent<%= i + 1 %>EnEditor"><%- data.eventsContent[i].content.en %></div>
        </div>
      </div>
      <input class="admin__hidden-input" id="eventsContent<%= i + 1 %>En" name="eventsContent<%= i + 1 %>En" type="text">
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--large deleteBtn" data-action="/api/events/content/<%= i + 1 %>">Arhiveeri</a>
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% } %>

<a class="btn btn--admin btn--admin--large addBtn" data-action="/api/events/content">+ Lisa S端ndmus +</a>


<%- include('../partials/footer') -%>
