<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Ajalugu</h1>

<form class="admin__form" action="/api/history/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="historyIntroEstEditor"><%- data.intros[2].est %></div>
        </div>
        <input class="admin__hidden-input" id="historyIntroEst" name="historyIntroEst" type="text" value="<%= data.intros[2].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="historyIntroEnEditor"><%- data.intros[2].en %></div>
        </div>
        <input class="admin__hidden-input" id="historyIntroEn" name="historyIntroEn" type="text" value="<%= data.intros[2].en %>">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<div class="dataGroup" id="historySections">

  <% for (var i = 0; i < data.historySections.length; i++) { %>

<form class="admin__form dataElement" data-action="/api/history/sections/<%= i + 1 %>" action="/api/history/sections/<%= i + 1 %>">

  <h3 class="admin-heading admin-heading--secondary">Sektsioon <%= i + 1 %></h3>
<div class="admin__input-group">
  <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
  <div class="column-container">
    <div class="admin__input-item">
      <h3 class="admin-heading admin-heading--quarternary">EST</h3>
      <input class="admin__input admin__input--bold" name="historyHeading<%= i + 1 %>Est" type="text" value="<%= data.historySections[i].heading.est %>">
    </div>
    <div class="admin__input-item">
      <h3 class="admin-heading admin-heading--quarternary">EN</h3>
      <input class="admin__input admin__input--bold" name="historyHeading<%= i + 1 %>En" type="text" value="<%= data.historySections[i].heading.en %>">
    </div>
  </div>
  <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
  <div class="column-container">
    <div class="admin__input-item">
      <h3 class="admin-heading admin-heading--quarternary">EST</h3>
      <div class="admin__editor">
        <div class="editor" id="historySection<%= i + 1 %>EstEditor"><%- data.historySections[i].content.est %></div>
      </div>
        <input class="admin__hidden-input" id="historySection<%= i + 1 %>Est" name="historySection<%= i + 1 %>Est" type="text" value="<%= data.historySections[i].content.est %>">
    </div>
    <div class="admin__input-item">
      <h3 class="admin-heading admin-heading--quarternary">EN</h3>
      <div class="admin__editor">
        <div class="editor" id="historySection<%= i + 1 %>EnEditor"><%- data.historySections[i].content.en %></div>
      </div>
    </div>
    <input class="admin__hidden-input" id="historySection<%= i + 1 %>En" name="historySection<%= i + 1 %>En" type="text" value="<%= data.historySections[i].content.en %>">
  </div>
  <div class="column-container">
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    <a class="btn btn--admin btn--admin--large dataDeleteBtn" data-index="<%= i + 1 %>" data-action="/api/history/sections/<%= i + 1 %>" tabindex="0">Kustuta</a>
  </div>
  </div>

</form>

<% } %>

</div>

<a class="btn btn--admin btn--admin--large dataAddBtn" data-for="historySections" data-action="/api/history/sections" tabindex="0">+ Lisa Sektsioon +</a>


<%- include('../partials/footer') -%>
