<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Meedia</h1>

<form class="admin__form" action="/api/media/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="mediaIntroEstEditor"><%- data.intros[3].est %></div>
        </div>
        <input class="admin__hidden-input" id="mediaIntroEst" name="mediaIntroEst" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="mediaIntroEnEditor"><%- data.intros[3].en %></div>
        </div>
        <input class="admin__hidden-input" id="mediaIntroEn" name="mediaIntroEn" type="text">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>


<form class="admin__form" action="/api/media/iframes">

  <h3 class="admin-heading admin-heading--secondary">Manustamislingid</h3>
  <% for (var i = 0; i < data.iframes.length; i++) { %>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Manustamislink <%= i + 1 %></h3>
    <div class="column-container">
      <div class="admin__input-item">
        <input class="admin__input" name="iframe<%= i + 1 %>Link" type="text" value="<%- data.iframes[i].link %>">
      </div>
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--small deleteBtn" data-action="/api/media/iframes/<%= i + 1 %>">Kustuta</a>
    </div>
  </div>
  <% } %>
  <div class="column-container">
    <a class="btn btn--admin btn--admin--small addBtn" data-action="/api/media/iframes">+ Lisa manustamislink +</a>
  </div>
  <div class="column-container">
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
  </div>

</form>

<% for (var i = 0; i < data.mediaSections.length; i++) { %>

<form class="admin__form" action="/api/media/sections/<%= i + 1 %>">
  <h3 class="admin-heading admin-heading--secondary">Sektsioon <%= i + 1 %></h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="mediaHeading<%= i + 1 %>Est" type="text" value="<%= data.mediaSections[i].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="mediaHeading<%= i + 1 %>En" type="text" value="<%= data.mediaSections[i].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="mediaSection<%= i + 1 %>EstEditor"><%- data.mediaSections[i].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="mediaSection<%= i + 1 %>Est" name="mediaSection<%= i + 1 %>Est" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="mediaSection<%= i + 1 %>EnEditor"><%- data.mediaSections[i].content.en %></div>
        </div>
      </div>
      <input class="admin__hidden-input" id="mediaSection<%= i + 1 %>En" name="mediaSection<%= i + 1 %>En" type="text">
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--large deleteBtn" data-action="/api/media/sections/<%= i + 1 %>">Kustuta</a>
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% } %>

<a class="btn btn--admin btn--admin--large addBtn" data-action="/api/media/sections">+ Lisa Sektsioon +</a>


<%- include('../partials/footer') -%>
