<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Liikmed</h1>

<form class="admin__form" action="/api/members/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="membersIntroEstEditor"><%- data.intros[0].est %></div>
        </div>
        <input class="admin__hidden-input" id="membersIntroEst" name="membersIntroEst" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="membersIntroEnEditor"><%- data.intros[0].en %></div>
        </div>
        <input class="admin__hidden-input" id="membersIntroEn" name="membersIntroEn" type="text">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% for (var i = 0; i < 4; i++) { %>

<form class="admin__form" action="/api/members/grid/<%= i + 1 %>">

  <h3 class="admin-heading admin-heading--secondary">Häälerühm <%= i + 1 %></h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="membersGridHeading<%= i + 1 %>Est" type="text" value="<%= data.membersGrid[i].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="membersGridHeading<%= i + 1 %>En" type="text" value="<%= data.membersGrid[i].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="membersGrid<%= i + 1 %>EstEditor"><%- data.membersGrid[i].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="membersGrid<%= i + 1 %>Est" name="membersGrid<%= i + 1 %>Est" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="membersGrid<%= i + 1 %>EnEditor"><%- data.membersGrid[i].content.en %></div>
        </div>
        <input class="admin__hidden-input membersGridEn" id="membersGrid<%= i + 1 %>En" name="membersGrid<%= i + 1 %>En" type="text">
      </div>
    </div>
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
  </div>

</form>

<% } %>

<% for (var i = 0; i < data.membersSections.length; i++) { %>

<form class="admin__form" action="/api/members/sections/<%= i + 1 %>">

  <h3 class="admin-heading admin-heading--secondary">Sektsioon <%= i + 1 %></h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="membersHeading<%= i + 1 %>Est" type="text" value="<%= data.membersSections[i].heading.est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="membersHeading<%= i + 1 %>En" type="text" value="<%= data.membersSections[i].heading.en %>">
      </div>
    </div>
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="membersSection<%= i + 1 %>EstEditor"><%- data.membersSections[i].content.est %></div>
        </div>
        <input class="admin__hidden-input" id="membersSection<%= i + 1 %>Est" name="membersSection<%= i + 1 %>Est" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="membersSection<%= i + 1 %>EnEditor"><%- data.membersSections[i].content.en %></div>
        </div>
      </div>
      <input class="admin__hidden-input" id="membersSection<%= i + 1 %>En" name="membersSection<%= i + 1 %>En" type="text">
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--large deleteBtn" data-action="/api/members/sections/<%= i + 1 %>">Kustuta</a>
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>

<% } %>

<a class="btn btn--admin btn--admin--large addBtn" data-action="/api/members/sections">+ Lisa Sektsioon +</a>


<%- include('../partials/footer') -%>
