<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Telli</h1>

<form class="admin__form" action="/api/order/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="orderIntroEstEditor"><%- data.intros[9].est %></div>
        </div>
        <input class="admin__hidden-input" id="orderIntroEst" name="orderIntroEst" type="text" value="<%= data.intros[9].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="orderIntroEnEditor"><%- data.intros[9].en %></div>
        </div>
        <input class="admin__hidden-input" id="orderIntroEn" name="orderIntroEn" type="text" value="<%= data.intros[9].en %>">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>


<form class="admin__form" action="/api/order/form">

  <h3 class="admin-heading admin-heading--secondary">Ankeet</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Pealkiri</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="orderFormHeadingEst" type="text" value="<%= data.miscellaneous[1].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="orderFormHeadingEn" type="text" value="<%= data.miscellaneous[1].en %>">
      </div>
    </div>
  </div>
  <hr>

  <div class="dataGroup" id="orderForm">

  <% for (var i = 0; i < data.orderForm.length; i++) { %>

  <div class="admin__input-group dataElement">
    <h3 class="admin-heading admin-heading--tertiary">Väli <%= i + 1 %></h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <input class="admin__input admin__input--bold" name="orderFormField<%= i + 1 %>Est" type="text" value="<%= data.orderForm[i].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <input class="admin__input admin__input--bold" name="orderFormField<%= i + 1 %>En" type="text" value="<%= data.orderForm[i].en %>">
      </div>
    </div>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">KOHUSTUSLIK</h3>
        <input class="admin__checkbox" name="orderFormField<%= i + 1 %>Required" type="checkbox" <% if (data.orderForm[i].required == "on") {%> checked<% } %>>
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">SUURENEV</h3>
        <input class="admin__checkbox" name="orderFormField<%= i + 1 %>Expandable" type="checkbox" <% if (data.orderForm[i].expandable == "on") {%> checked<% } %>>
      </div>
    </div>
    <div class="column-container">
      <a class="btn btn--admin btn--admin--small dataDeleteBtn" data-index="<%= i + 1 %>" data-action="/api/order/form/<%= i + 1 %>" tabindex="0">Kustuta</a>
    </div>
  </div>

  <% } %>

</div>

  <div class="column-container">
    <a class="btn btn--admin btn--admin--small dataAddBtn" data-for="orderForm" data-action="/api/order/form" tabindex="0">+ Lisa väli +</a>
  </div>
  <div class="column-container">
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
  </div>

</form>


<form class="admin__form" action="/api/order/postscript">

  <h3 class="admin-heading admin-heading--secondary">Postskript</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="orderPostscriptEstEditor"><%- data.miscellaneous[2].est %></div>
        </div>
        <input class="admin__hidden-input" id="orderPostscriptEst" name="orderPostscriptEst" type="text" value="<%= data.miscellaneous[2].est %>">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="orderPostscriptEnEditor"><%- data.miscellaneous[2].en %></div>
        </div>
        <input class="admin__hidden-input" id="orderPostscriptEn" name="orderPostscriptEn" type="text" value="<%= data.miscellaneous[2].en %>">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>


<%- include('../partials/footer') -%>
