<%- include('../partials/head', {data: data}); -%>
<%- include('../partials/adminnav', {data: data}); -%>
<%- include('../partials/popup', {data: data}); -%>


<h1 class="admin-heading admin-heading--primary">Toetajad</h1>

<form class="admin__form" action="/api/sponsors/intro">

  <h3 class="admin-heading admin-heading--secondary">Sissejuhatav tekst</h3>
  <div class="admin__input-group">
    <h3 class="admin-heading admin-heading--tertiary">Sisu</h3>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EST</h3>
        <div class="admin__editor">
          <div class="editor" id="sponsorsIntroEstEditor"><%- data.intros[4].est %></div>
        </div>
        <input class="admin__hidden-input" id="sponsorsIntroEst" name="sponsorsIntroEst" type="text">
      </div>
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">EN</h3>
        <div class="admin__editor">
          <div class="editor" id="sponsorsIntroEnEditor"><%- data.intros[4].en %></div>
        </div>
        <input class="admin__hidden-input" id="sponsorsIntroEn" name="sponsorsIntroEn" type="text">
      </div>
    </div>
    <div class="column-container">
      <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
    </div>
  </div>

</form>


<form class="admin__form" action="/api/sponsors/logos">

  <h3 class="admin-heading admin-heading--secondary">Lingid</h3>
  <% for (var i = 0; i < data.sponsorsLogos.length; i++) { %>
  <div class="admin__input-group">
    <div class="column-container">
      <div class="admin__input__item">
        <h3 class="admin-heading admin-heading--tertiary">Logo <%= i + 1 %></h3>
        <input class="admin__hidden-input" id="sponsorsImg<%= i + 1 %>" name="sponsorsImg<%= i + 1 %>" type="file">
        <label class="btn btn--admin btn--admin--small" for="sponsorsImg<%= i + 1 %>">Vali fail</label>
        <p class="admin__label" id="sponsorsImg<%= i + 1 %>Label"><%= data.sponsorsLogos[i].filename %></p>
        <img class="admin__preview" id="sponsorsImg<%= i + 1 %>Preview" src="<%= data.sponsorsLogos[i].url %>" alt="Toetaja logo">
      </div>
    </div>
    <div class="column-container">
      <div class="admin__input-item">
        <h3 class="admin-heading admin-heading--quarternary">LINK</h3>
        <input class="admin__input" name="sponsors<%= i + 1 %>Link" type="text" value="<%= data.sponsorsLogos[i].link %>">
      </div>
    </div>
    <a class="btn btn--admin btn--admin--small deleteBtn" data-action="/api/sponsors/logos/<%= i + 1 %>">Kustuta</a>
  </div>
  <% } %>
  <div class="column-container">
    <a class="btn btn--admin btn--admin--small addBtn" data-action="/api/sponsors/logos">+ Lisa logo +</a>
  </div>
  <div class="column-container">
    <button class="btn btn--admin btn--admin--large" type="submit">Salvesta</button>
  </div>

</form>


<%- include('../partials/footer') -%>
