<div class="dropdown <%= className %> hide" id="<%= id %>">
  <ul>
    <li class="dropdown__item">
      <a class="dropdown__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>"><%= data.pageInfo.aboutSubheadings[1] %></a></li>
    <li class="dropdown__item">
      <a class="dropdown__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[1] %>"><%= data.pageInfo.aboutSubheadings[2] %></a></li>
    <li class="dropdown__item">
      <a class="dropdown__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[2] %>"><%= data.pageInfo.aboutSubheadings[3] %></a></li>
    <li class="dropdown__item">
      <a class="dropdown__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[3] %>"><%= data.pageInfo.aboutSubheadings[4] %></a></li>
    <li class="dropdown__item">
      <a class="dropdown__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[4] %>"><%= data.pageInfo.aboutSubheadings[5] %></a></li>
  </ul>
</div>
