<nav class="footnav">
  <ul class="footnav__list">
    <li class="footnav__item">
      <a href="/<%= data.pageInfo.navigation.hrefs.links[0] %>" class="footnav__link"><%= data.pageInfo.navigation.linkTexts[0] %></a>
      <a href="" class="btn btn--menu" id="dropdownButtonFooter">
        <i class="fas fa-caret-up btn__icon" id="dropdownIconFooter"></i>
      </a>
      <div class="dropdown dropdown--footer hide" id="dropdownMenuFooter">
        <ul class="dropdown__list">
          <li class="dropdown__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>" class="dropdown__link"><%= data.aboutSectionHeadings[1].content %> %></a></li>
          <li class="dropdown__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[1] %>" class="dropdown__link"><%= data.aboutSectionHeadings[2].content %> %></a></li>
          <li class="dropdown__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[2] %>" class="dropdown__link"><%= data.aboutSectionHeadings[3].content %> %></a></li>
          <li class="dropdown__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[3] %>" class="dropdown__link"><%= data.aboutSectionHeadings[4].content %> %></a></li>
          <li class="dropdown__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[4] %>" class="dropdown__link"><%= data.aboutSectionHeadings[5].content %> %></a></li>
        </ul>
      </div>
    </li>
    <li class="footnav__item"><a href="/<%= data.pageInfo.navigation.hrefs.links[1] %>" class="footnav__link"><%= data.pageInfo.navigation.linkTexts[1] %></a></li>
    <li class="footnav__item"><a href="/<%= data.pageInfo.navigation.hrefs.links[2] %>" class="footnav__link"><%= data.pageInfo.navigation.linkTexts[2] %></a></li>
    <li class="footnav__item"><a href="/<%= data.pageInfo.navigation.hrefs.links[3] %>" class="footnav__link"><%= data.pageInfo.navigation.linkTexts[3] %></a></li>
  </ul>
</nav>
