<nav class="footnav">
  <ul class="footnav__list">
    <li class="footnav__item">
      <a href="/en/about-us" class="footnav__link">About us</a>
      <a href="" class="btn btn--menu" id="dropdown-button-footer">
        <i class="fas fa-caret-up btn__icon" id="dropdown-icon-footer"></i>
      </a>
      <div class="dropdown dropdown--footer hide" id="dropdown-menu-footer">
        <ul class="dropdown__list">
          <li class="dropdown__item"><a href="/en/about-us#section-members" class="dropdown__link"><%= pealkirjadData[1].en %></a></li>
          <li class="dropdown__item"><a href="/en/about-us#section-conductors" class="dropdown__link"><%= pealkirjadData[2].en %></a></li>
          <li class="dropdown__item"><a href="/en/about-us#section-history" class="dropdown__link"><%= pealkirjadData[3].en %></a></li>
          <li class="dropdown__item"><a href="/en/about-us#section-media" class="dropdown__link"><%= pealkirjadData[4].en %></a></li>
          <li class="dropdown__item"><a href="/en/about-us#section-sponsors" class="dropdown__link"><%= pealkirjadData[5].en %></a></li>
        </ul>
      </div>
    </li>
    <li class="footnav__item"><a href="/en/events" class="footnav__link">Events</a></li>
    <li class="footnav__item"><a href="/en/contact" class="footnav__link">Contact</a></li>
    <li class="footnav__item"><a href="/en/shop" class="footnav__link">Shop</a></li>
  </ul>
</nav>
