<nav class="footnav">
  <ul class="footnav__list">
    <li class="footnav__item footnav__item--expandable">
      <a class="footnav__link" href="/<%= data.pageInfo.navigation.hrefs.links[1] %>"><%= data.pageInfo.navigation.linkTexts[0] %></a>
    <span aria-label ="<%= data.pageInfo.navigation.ariaLabels[0] %>" >
      <i class="fas fa-caret-up" id="dropdownButtonFooter"></i>
    </span>
      <%- include('dropdown', {data: data, className: "dropdown--footer", id: "dropdownMenuFooter"}); -%>
    </li>
    <li class="footnav__item">
      <a class="footnav__link" href="/<%= data.pageInfo.navigation.hrefs.links[2] %>"><%= data.pageInfo.navigation.linkTexts[1] %></a>
    </li>
    <li class="footnav__item">
      <a class="footnav__link" href="/<%= data.pageInfo.navigation.hrefs.links[3] %>"><%= data.pageInfo.navigation.linkTexts[2] %></a>
    </li>
    <li class="footnav__item">
      <a class="footnav__link" href="/<%= data.pageInfo.navigation.hrefs.links[4] %>"><%= data.pageInfo.navigation.linkTexts[3] %></a>
    </li>
  </ul>
</nav>
