<body>
  <div class="body-wrapper">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/en/about-us" class="navigation__link">About us</a>
          <a href="" class="btn btn--menu" id="dropdown-button-header" aria-label="Open submenu">
            <i class="fas fa-caret-down btn__icon" id="dropdown-icon-header"></i>
          </a>
          <div class="dropdown dropdown--header hide" id="dropdown-menu-header">
            <ul class="dropdown__list">
              <li class="dropdown__item"><a href="/en/about-us#section-members" class="dropdown__link"><%= pealkirjadData[1].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-conductors" class="dropdown__link"><%= pealkirjadData[2].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-history" class="dropdown__link"><%= pealkirjadData[3].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-media" class="dropdown__link"><%= pealkirjadData[4].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-sponsors" class="dropdown__link"><%= pealkirjadData[5].en %></a></li>
            </ul>
          </div>
        </li>
        <li class="navigation__item"><a href="/en/join-us" class="navigation__link">Join us</a></li>
        <li class="navigation__item"><a href="/en/events" class="navigation__link">Events</a></li>
        <li class="navigation__item"><a href="/en/contact" class="navigation__link">Contact</a></li>
      </ul>
      <div class="navigation__item navigation__menu-button">
        <a href="" class="navigation__link" aria-label="Open menu">
          <i class="fas fa-bars navigation__menu-icon" id="menu-button"></i>
        </a>
      </div>
      <div class="navigation__logo">
        <a href="/en" class="navigation__logo-link" aria-label="To home page">
          <img src="/img/logo-vaike.png" alt="Väike logo" class="navigation__logo-img">
        </a>
      </div>
      <div class="navigation__icons">
        <a href="https://www.facebook.com/segakoorNoorus/" class="navigation__social-link" aria-label="Facebooki link">
          <i class="fab fa-facebook-f navigation__social-icon"></i>
        </a>
        <a href="https://www.instagram.com/segakoornoorus/" class="navigation__social-link" aria-label="Instagrami link">
          <i class="fab fa-instagram navigation__social-icon"></i>
        </a>
        <a href="/<%= currentPage %>" class="navigation__language-link" aria-label="Eesti keeles">EST</a>
      </div>
    </nav>
    <nav class="hidden-menu hide" id="hidden-menu">
      <ul class="hidden-menu__list">
        <li class="hidden-menu__item"><a href="/koorist" class="hidden-menu__link">About us</a>
          <a href="#" class="btn btn--menu" id="dropdown-button-hidden" aria-label="Open submenu">
            <i class="fas fa-caret-down btn__icon" id="dropdown-icon-hidden"></i>
          </a>
          <div class="dropdown dropdown--hidden" id="dropdown-menu-hidden">
            <ul class="dropdown__list">
              <li class="dropdown__item"><a href="/en/about-us#section-members" class="dropdown__link"><%= pealkirjadData[1].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-conductors" class="dropdown__link"><%= pealkirjadData[2].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-history" class="dropdown__link"><%= pealkirjadData[3].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-media" class="dropdown__link"><%= pealkirjadData[4].en %></a></li>
              <li class="dropdown__item"><a href="/en/about-us#section-sponsors" class="dropdown__link"><%= pealkirjadData[5].en %></a></li>
            </ul>
          </div>
        </li>
        <li class="hidden-menu__item"><a href="/en/join-us" class="hidden-menu__link">Join us</a></li>
        <li class="hidden-menu__item"><a href="/en/events" class="hidden-menu__link">Events</a></li>
          <li class="hidden-menu__item"><a href="/en/contact" class="hidden-menu__link">Contact</a></li>
      </ul>
    </nav>
