<body>
  <div class="body-wrapper">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/koorist" class="navigation__link">Koorist</a>
          <a href="" class="btn btn--menu" id="dropdown-button-header" aria-label="Ava lisamenüü">
            <i class="fas fa-caret-down btn__icon" id="dropdown-icon-header"></i>
          </a>
          <div class="dropdown dropdown--header hide" id="dropdown-menu-header">
            <ul class="dropdown__list">
              <li class="dropdown__item"><a href="/koorist#section-liikmed" class="dropdown__link"><%= pealkirjadData[1].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-dirigendid" class="dropdown__link"><%= pealkirjadData[2].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-ajalugu" class="dropdown__link"><%= pealkirjadData[3].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-meedia" class="dropdown__link"><%= pealkirjadData[4].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-toetajad" class="dropdown__link"><%= pealkirjadData[5].est %></a></li>
            </ul>
          </div>
        </li>
        <li class="navigation__item"><a href="/vastuvott" class="navigation__link">Vastuvõtt</a></li>
        <li class="navigation__item"><a href="/sundmused" class="navigation__link">Sündmused</a></li>
        <li class="navigation__item"><a href="/kontakt" class="navigation__link">Kontakt</a></li>
      </ul>
      <div class="navigation__item navigation__menu-button">
        <a href="" class="navigation__link" aria-label="Ava menüü">
          <i class="fas fa-bars navigation__menu-icon" id="menu-button"></i>
        </a>
      </div>
      <div class="navigation__logo">
        <a href="/" class="navigation__logo-link" aria-label="Avalehele">
          <img src="/img/logo-vaike.png" alt="Väike logo" class="navigation__logo-img">
        </a>
      </div>
      <div class="navigation__icons">
        <a href="https://www.facebook.com/segakoorNoorus/" class="navigation__social-link" aria-label="Facebooki link">
          <i class="fab fa-facebook-f navigation__social-icon"></i>
        </a>
        <a href="https://www.instagram.com/segakoornoorus/" class="navigation__social-link" aria-label="Instagrami link">
          <i class="fab fa-instagram navigation__social-icon"></i>
        </a>
        <a href="/<%= currentPage %>" class="navigation__language-link" aria-label="English">EN</a>
      </div>
    </nav>
    <nav class="hidden-menu hide" id="hidden-menu">
      <ul class="hidden-menu__list">
        <li class="hidden-menu__item"><a href="/koorist" class="hidden-menu__link">Koorist</a>
          <a href="#" class="btn btn--menu" id="dropdown-button-hidden" aria-label="Ava lisamenüü">
            <i class="fas fa-caret-down btn__icon" id="dropdown-icon-hidden"></i>
          </a>
          <div class="dropdown dropdown--hidden hide" id="dropdown-menu-hidden">
            <ul class="dropdown__list">
              <li class="dropdown__item"><a href="/koorist#section-liikmed" class="dropdown__link"><%= pealkirjadData[1].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-dirigendid" class="dropdown__link"><%= pealkirjadData[2].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-ajalugu" class="dropdown__link"><%= pealkirjadData[3].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-meedia" class="dropdown__link"><%= pealkirjadData[4].est %></a></li>
              <li class="dropdown__item"><a href="/koorist#section-toetajad" class="dropdown__link"><%= pealkirjadData[5].est %></a></li>
            </ul>
          </div>
        </li>
        <li class="hidden-menu__item"><a href="/vastuvott" class="hidden-menu__link">Vastuvõtt</a></li>
        <li class="hidden-menu__item"><a href="/sundmused" class="hidden-menu__link">Sündmused</a></li>
        <li class="hidden-menu__item"><a href="/kontakt" class="hidden-menu__link">Kontakt</a></li>
      </ul>
    </nav>
