<nav class="sidenav">
  <ul class="sidenav__list">
    <li class="sidenav__item sidenav__special-item"><a href="#" class="sidenav__link"><%= data.aboutSubheadings[0].content %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>" class="sidenav__link"><%= data.aboutSubheadings[1].content %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[1] %>" class="sidenav__link"><%= data.aboutSubheadings[2].content %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[2] %>" class="sidenav__link"><%= data.aboutSubheadings[3].content %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[3] %>" class="sidenav__link"><%= data.aboutSubheadings[4].content %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[4] %>" class="sidenav__link"><%= data.aboutSubheadings[5].content %></a></li>
  </ul>
</nav>
