<nav class="sidenav">
  <ul class="sidenav__list">
    <li class="sidenav__item sidenav__special-item"><a href="#" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[0] %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[1] %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[1] %>" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[2] %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[2] %>" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[3] %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[3] %>" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[4] %></a></li>
    <li class="sidenav__item"><a href="/<%= data.pageInfo.navigation.hrefs.dropdown[4] %>" class="sidenav__link"><%= data.pageInfo.aboutSubheadings[5] %></a></li>
  </ul>
</nav>
