<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<%- include('partials/sidenav', {data: data}); -%>
<main class="about">
  <section class="about-intro">
    <% if (data.staticImages[3].url) { %>
    <div class="about-intro__img" alt="<%= data.pageInfo.miscellaneous[5] %>" style="background-image: url(<%= data.staticImages[3].url %>)"></div>
    <% } %>
    <div class="about-intro__text-box">
      <% if (data.intros[0].content) { %>
      <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.pageInfo.PageTitle %></h2>
      <div class="about-intro__content">
        <div>
          <%- data.intros[0].content %>
        </div>
      </div>
      <% } %>
    </div>
  </section>
  <section class="about-members" id="<%= data.pageInfo.miscellaneous[0] %>">
    <% if (data.intros[1].content || data.membersSegments.length) { %>
    <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.aboutSubheadings[1].content %></h2>
    <% } %>
    <div class="about-members__subsection">
      <% if (data.intros[1].content) { %>
      <div class="about-members__content">
        <div>
          <%- data.intros[1].content %>
        </div>
      </div>
      <% } %>
    </div>
    <div class="about-members__subsection">
      <div class="about-members__grid">
        <% for (i = 0; i < data.membersGrid.length; i++) { %>
        <div class="about-members__grid-item">
          <% if (data.membersGrid[i].heading) { %>
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.membersGrid[i].heading %></h3>
          <% } %>
          <% if (data.membersGrid[i].content) { %>
          <p class="paragraph--small paragraph--purple u-margin-bottom-big"><%- data.membersGrid[i].content %></p>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
    <div class="about-members__subsection">
      <% for (i = 0; i < data.membersSections.length; i++) { %>
      <div class="about-members__segment">
        <% if (data.membersSections[i].heading) { %>
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.membersSections[i].heading %></h3>
        <% } %>
        <% if (data.membersSections[i].content) { %>
        <div class="about-members__content">
          <div>
            <%- data.membersSections[i].content %>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
  </section>
  <section class="about-conductors" id="<%= data.pageInfo.miscellaneous[1] %>">
    <h2 class="heading--secondary heading--purple"><%= data.aboutSubheadings[2].content %></h2>
    <% if (data.intros[2].content) { %>
    <div class="about-conductors__content">
      <div>
        <%- data.intros[2].content %>
      </div>
    </div>
    <% } %>
    <% for (var i = 0; i < data.conductorsSections.length; i++) { %>
    <div class="about-conductors__segment">
      <div class="about-conductors__text-box">
        <% if (data.conductorsSections[i].heading) { %>
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.conductorsSections[i].heading %></h3>
        <% } %>
        <% if (data.conductorsSections[i].content) { %>
        <div class="about-conductors__content">
          <div>
            <%- data.conductorsSections[i].content %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="about-conductors__img" style="background-image: url('<%= data.conductorsImages[i].url %>')"></div>
    </div>
    <% } %>
  </section>
  <section class="about-history" id="<%= data.pageInfo.miscellaneous[2] %>">
    <% if (data.intros[3].content) { %>
    <div class="about-history__content">
      <div>
        <%- data.intros[3].content %>
      </div>
    </div>
    <% } %>
    <h2 class="heading--secondary heading--purple"><%= data.aboutSubheadings[3].content %></h2>
    <% for (var i = 0; i < data.historySections.length; i++) { %>
    <div class="about-history__segment">
      <% if (data.historySections[i].heading) { %>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.historySections[i].heading %></h3>
      <% } %>
      <% if (data.historySections[i].content) { %>
      <div class="about-history__content">
        <div>
          <%- data.historySections[i].content %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </section>
  <section class="about-media" id="<%= data.pageInfo.miscellaneous[3] %>">
    <h2 class="heading--secondary heading--purple"><%= data.aboutSubheadings[4].content %></h2>
    <% if (data.intros[4].content) { %>
    <div class="about-members__content">
      <div>
        <%- data.intros[4].content %>
      </div>
    </div>
    <% } %>
      <% for (var i = 0; i < data.iframes.length; i++) { %>
      <div class="about-media__iframe">
        <iframe class="iframe" src="<%= data.iframes[i].link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <% } %>
      <% for (var i = 0; i < data.mediaSections.length; i++) { %>
      <div class="about-media__segment">
        <% if (data.mediaSections[i].heading) { %>
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.mediaSections[i].heading %></h3>
        <% } %>
        <% if (data.mediaSections[i].content) { %>
        <div class="about-media__content">
          <div>
            <%- data.mediaSections[i].content %>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
  </section>
<% if (data.sponsorsLogos) { %>
  <section class="about-sponsors" id="<%= data.pageInfo.miscellaneous[4] %>">
    <h2 class="heading--secondary heading--purple"><%= data.aboutSubheadings[5].content %></h2>
    <% if (data.intros[5].content) { %>
    <div class="about-sponsors__content">
      <div>
        <%- data.intros[5].content %>
      </div>
    </div>
    <% } %>
    <div class="about-sponsors__container">
      <% for (var i = 0; i < data.sponsorsLogos.length; i++) { %>
      <div class="about-sponsors__logo-box">
        <a href="<%= data.sponsorsLogos[i].link %>">
          <img src="<%= data.sponsorsLogos[i].url %>" alt="Logo <%= i + 1 %>" class="about-sponsors__logo">
        </a>
      </div>
      <% } %>
    </div>
  </section>
  <% } %>
</main>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
