<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<%- include('partials/sidenav', {data: data}); -%>


<main class="about">


  <section class="section">

    <div class="intro__container">
      <% if (data.staticImages[3].url) { %>
      <div class="intro__img" style="background-image: url(<%= data.staticImages[3].url %>)" alt="<%= data.pageInfo.miscellaneous[5] %>"></div>
      <% } %>
      <div class="intro__text-box">
        <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[0] %></h2>
        <% if (data.staticSections[3].heading[data.language]) { %>
        <h3 class="heading heading--tertiary"><%= data.staticSections[3].heading[data.language] %></h3>
        <% } %>
        <% if (data.staticSections[3].content[data.language]) { %>
        <div class="content">
          <div>
            <%- data.staticSections[3].content[data.language] %>
          </div>
        </div>
        <% } %>
      </div>
    </div>

  </section>


  <section class="section" id="<%= data.pageInfo.miscellaneous[0] %>">

    <div class="about__container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[1] %></h2>
      <% if (data.intros[0][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[0][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

      <div class="members__grid">
        <% for (i = 0; i < data.membersGrid.length; i++) { %>
        <div class="members__item">
          <% if (data.membersGrid[i].heading[data.language]) { %>
          <h3 class="heading heading--tertiary"><%= data.membersGrid[i].heading[data.language] %></h3>
          <% } %>
          <% if (data.membersGrid[i].content[data.language]) { %>
            <div class="content">
              <div>
                <%- data.membersGrid[i].content[data.language] %>
              </div>
            </div>
          <% } %>
        </div>
        <% } %>
      </div>

        <% for (var i = 0; i < data.membersSections.length; i++) { %>
        <div class="about__container">
          <% if (data.membersSections[i].heading[data.language]) { %>
          <h3 class="heading heading--tertiary"><%= data.membersSections[i].heading[data.language] %></h3>
          <% } %>
          <% if (data.membersSections[i].content[data.language]) { %>
          <div class="content">
            <div>
              <%- data.membersSections[i].content[data.language] %>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>

  </section>

  <section class="section" id="<%= data.pageInfo.miscellaneous[1] %>">
<div class="about__container">
    <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[2] %></h2>
      <% if (data.intros[1][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[1][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.conductorsSections.length; i++) { %>
    <div class="conductors__container">
      <div class="conductors__text-box">
        <% if (data.conductorsSections[i].heading[data.language]) { %>
        <h3 class="heading heading--tertiary"><%= data.conductorsSections[i].heading[data.language] %></h3>
        <% } %>
        <% if (data.conductorsSections[i].content[data.language]) { %>
        <div class="content">
          <div>
            <%- data.conductorsSections[i].content[data.language] %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="conductors__img" style="background-image: url('<%= data.conductorsImages[i].url %>')"></div>
    </div>
    <% } %>
  </section>

  <section class="section" id="<%= data.pageInfo.miscellaneous[2] %>">

    <div class="about__container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[3] %></h2>
      <% if (data.intros[2][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[2][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.historySections.length; i++) { %>
    <div class="about__container">
      <% if (data.historySections[i].heading[data.language]) { %>
      <h3 class="heading heading--tertiary"><%= data.historySections[i].heading[data.language] %></h3>
      <% } %>
      <% if (data.historySections[i].content[data.language]) { %>
      <div class="content">
        <div>
          <%- data.historySections[i].content[data.language] %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>

  </section>

  <section class="section" id="<%= data.pageInfo.miscellaneous[3] %>">

    <div class="about__container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[4] %></h2>
      <% if (data.intros[3][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[3][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.iframes.length; i++) { %>
    <div class="media__container">
      <iframe class="iframe" src="<%= data.iframes[i].link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <% } %>


    <% for (var i = 0; i < data.mediaSections.length; i++) { %>
    <div class="about__container">
      <% if (data.mediaSections[i].heading[data.language]) { %>
      <h3 class="heading heading--tertiary"><%= data.mediaSections[i].heading[data.language] %></h3>
      <% } %>
      <% if (data.mediaSections[i].content[data.language]) { %>
      <div class="content">
        <div>
          <%- data.mediaSections[i].content[data.language] %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>

  </section>

  <% if (data.sponsorsLogos) { %>

  <section class="section" id="<%= data.pageInfo.miscellaneous[4] %>">

    <div class="about__container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.aboutSubheadings[5] %></h2>
      <% if (data.intros[4][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[4][data.language] %>
        </div>
      </div>
      <% } %>
    </div>


    <div class="sponsors__container">
      <% for (var i = 0; i < data.sponsorsLogos.length; i++) { %>
      <div class="sponsors__logo-box">
        <a href="<%= data.sponsorsLogos[i].link %>">
          <img src="<%= data.sponsorsLogos[i].url %>" alt="Logo <%= i + 1 %>" class="sponsors__logo">
        </a>
      </div>
      <% } %>
    </div>

  </section>
  <% } %>
</main>


<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
