<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/admin-nav {routeName: routeName} -%>
<%- include partials/admin-popup {sissejuhatusData: sissejuhatusData} -%>
<form action="/upload/pealkirjad" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristPealkirjad">
  <h3 class="page-admin__title">Sektsioonipealkirjad</h3>
  <div class="page-admin__form-box" id="pealkiriForm">
    <% for (var i = 0; i < pealkirjadData.length; i++) { %>
    <div class="page-admin__form-field pealkiri" id="pealkiri<%= i + 1 %>" data-heading="Pealkiri">
      <h3 class="page-admin__heading pealkiriHeading">Pealkiri <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="pealkiriEst<%= i + 1 %>" name="pealkiriEst<%= i + 1 %>" value="<%= pealkirjadData[i].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="pealkiriEn<%= i + 1 %>" name="pealkiriEn<%= i + 1 %>" value="<%= pealkirjadData[i].en %>">
    </div>
    <% } %>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
</form>
<form action="/upload/sissejuhatus" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristSissejuhatus">
  <h3 class="page-admin__title">Sissejuhatus</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Avapilt</h3>
      <input type="file" id="avapilt" name="avapilt" class="page-admin__hidden-input file">
      <label for="avapilt" class="page-admin__small-btn" id="avapiltLabel">Vali fail</label>
      <p class="page-admin__input-placeholder" id="avapiltPlaceholder"></p>
      <img class="page-admin__icon" src="<%= avapilt.url %>" id="avapiltImg" alt="Avapilt">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="sissejuhatusPealkiriEst" name="sissejuhatusPealkiriEst" value="<%= sissejuhatusData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="sissejuhatusPealkiriEn" name="sissejuhatusPealkiriEn" value="<%= sissejuhatusData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="sissejuhatusLoikForm">
    <% for (var i = 0; i < sissejuhatusData.loigud.length; i++) { %>
    <div class="page-admin__form-field sissejuhatusLoik" id="sissejuhatusLoik<%= i + 1 %>" data-heading="Lõik">
      <h3 class="page-admin__heading sissejuhatusLoikHeading">Lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input sissejuhatusLoikEstEd" id="sissejuhatusLoikEst<%= i + 1 %>Ed" name="sissejuhatusLoikEst<%= i + 1 %>Ed">
        <%- sissejuhatusData.loigud[i].est %></div>
      <input type="text" class="page-admin__hidden-input sissejuhatusLoikEst" id="sissejuhatusLoikEst<%= i + 1 %>" name="sissejuhatusLoikEst<%= i + 1 %>" value="<%- sissejuhatusData.loigud[i].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input sissejuhatusLoikEnEd" id="sissejuhatusLoikEn<%= i + 1 %>Ed" name="sissejuhatusLoikEn<%= i + 1 %>Ed"><%- sissejuhatusData.loigud[i].en %>
      </div>
      <input type="text" class="page-admin__hidden-input sissejuhatusLoikEn" id="sissejuhatusLoikEn<%= i + 1 %>" name="sissejuhatusLoikEn<%= i + 1 %>" value="<%- sissejuhatusData.loigud[i].en %>"
        value="<%- sissejuhatusData.loigud[i].en %>"></input>
      <button class="page-admin__small-btn deleteBtn sissejuhatusLoikDeleteBtn" type="button" id="sissejuhatusLoikDeleteBtn<%= i + 1 %>" name="sissejuhatusLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="sissejuhatusLoikAddBtn">+ Lisa lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
</form>
<form action="/upload/liikmed" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristLiikmed">
  <h3 class="page-admin__title">Liikmed</h3>
  <div class="page-admin__form-box" id="liikmedLoikForm">
    <% for (var i = 0; i < liikmedData.loigud.length; i++) { %>
    <div class="page-admin__form-field liikmedLoik" id="liikmedLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading liikmedLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input liikmedLoikEstEd" id="liikmedLoikEst<%= i + 1 %>Ed" name="liikmedLoikEst<%= i + 1 %>Ed"><%- liikmedData.loigud[i].est %></div>
      <input type="text" class="page-admin__hidden-input liikmedLoikEst" id="liikmedLoikEst<%= i + 1 %>" name="liikmedLoikEst<%= i + 1 %>" value="<%- liikmedData.loigud[i].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input liikmedLoikEnEd" id="liikmedLoikEn<%= i + 1 %>Ed" name="liikmedLoikEn<%= i + 1 %>Ed"><%- liikmedData.loigud[i].en %></div>
      <input type="text" class="page-admin__hidden-input liikmedLoikEn" id="liikmedLoikEn<%= i + 1 %>" name="liikmedLoikEn<%= i + 1 %>" value="<%- liikmedData.loigud[i].en %>"></input>
      <button class="page-admin__small-btn deleteBtn liikmedLoikDeleteBtn" type="button" id="liikmedLoikDeleteBtn<%= i + 1 %>" name="liikmedLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="liikmedLoikAddBtn">+ Lisa lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma nimi 1</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEst1" id="haaleruhmaNimiEst1" value="<%= liikmedData.haaleruhmaNimed[0].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEn1" id="haaleruhmaNimiEn1" value="<%= liikmedData.haaleruhmaNimed[0].en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma nimi 2</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEst2" id="haaleruhmaNimiEst2" value="<%= liikmedData.haaleruhmaNimed[1].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEn2" id="haaleruhmaNimiEn2" value="<%= liikmedData.haaleruhmaNimed[1].en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma nimi 3</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEst3" id="haaleruhmaNimiEst3" value="<%= liikmedData.haaleruhmaNimed[2].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEn3" id="haaleruhmaNimiEn3" value="<%= liikmedData.haaleruhmaNimed[2].en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma nimi 4</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEst4" id="haaleruhmaNimiEst4" value="<%= liikmedData.haaleruhmaNimed[3].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="haaleruhmaNimiEn4" id="haaleruhmaNimiEn4" value="<%= liikmedData.haaleruhmaNimed[3].en %>">
    </div>
  </div>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma tutvustus 1</h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEst1Ed" name="haaleruhmaTutvustusEst1Ed"><%- liikmedData.haaleruhmaTutvustused[0].est %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEst1" id="haaleruhmaTutvustusEst1" value="<%- liikmedData.haaleruhmaTutvustused[0].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEn1Ed" name="haaleruhmaTutvustusEn1Ed"><%- liikmedData.haaleruhmaTutvustused[0].en %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEn1" id="haaleruhmaTutvustusEn1" value="<%- liikmedData.haaleruhmaTutvustused[0].en %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma tutvustus 2</h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEst2Ed" name="haaleruhmaTutvustusEst2Ed"><%- liikmedData.haaleruhmaTutvustused[1].est %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEst2" id="haaleruhmaTutvustusEst2" value="<%- liikmedData.haaleruhmaTutvustused[1].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEn2Ed" name="haaleruhmaTutvustusEn2Ed"><%- liikmedData.haaleruhmaTutvustused[1].en %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEn2" id="haaleruhmaTutvustusEn2" value="<%- liikmedData.haaleruhmaTutvustused[1].en %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma tutvustus 3</h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEst3Ed" name="haaleruhmaTutvustusEst3Ed"><%- liikmedData.haaleruhmaTutvustused[2].est %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEst3" id="haaleruhmaTutvustusEst3" value="<%- liikmedData.haaleruhmaTutvustused[2].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEn3Ed" name="haaleruhmaTutvustusEn3Ed"><%- liikmedData.haaleruhmaTutvustused[2].en %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEn3" id="haaleruhmaTutvustusEn3" value="<%- liikmedData.haaleruhmaTutvustused[2].en %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Häälerühma tutvustus 4</h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEst4Ed" name="haaleruhmaTutvustusEst4Ed"><%- liikmedData.haaleruhmaTutvustused[3].est %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEst4" id="haaleruhmaTutvustusEst4" value="<%- liikmedData.haaleruhmaTutvustused[3].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="haaleruhmaTutvustusEn4Ed" name="haaleruhmaTutvustusEn1Ed"><%- liikmedData.haaleruhmaTutvustused[3].en %></div>
      <input class="page-admin__hidden-input" name="haaleruhmaTutvustusEn4" id="haaleruhmaTutvustusEn4" value="<%- liikmedData.haaleruhmaTutvustused[3].en %>"></input>
    </div>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Lauljate nimekirja pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="lauljadPealkiriEst" id="lauljadPealkiriEst" value="<%= liikmedData.lauljadPealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="lauljadPealkiriEn" id="lauljadPealkiriEn" value="<%= liikmedData.lauljadPealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sopranid</h3>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="sopranidEd" name="sopranidEd"><%- liikmedData.sopranid %></div>
      <input class="page-admin__hidden-input" name="sopranid" id="sopranid" value="<%- liikmedData.sopranid %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Aldid</h3>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="aldidEd" name="aldidEd"><%- liikmedData.aldid %></div>
      <input class="page-admin__hidden-input" name="aldid" id="aldid" value="<%- liikmedData.aldid %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Tenorid</h3>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="tenoridEd" name="tenoridEd"><%- liikmedData.tenorid %></div>
      <input class="page-admin__hidden-input" name="tenorid" id="tenorid" value="<%- liikmedData.tenorid %>"></input>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Bassid/baritonid</h3>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="bassidEd" name="bassidEd"><%- liikmedData.bassid %></div>
      <input class="page-admin__hidden-input" name="bassid" id="bassid" value="<%- liikmedData.bassid %>"></input>
    </div>
  </div>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Vilistlaste nimekirja pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="vilistlastePealkiriEst" id="vilistlastePealkiriEst" value="<%= liikmedData.vilistlastePealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="vilistlastePealkiriEn" id="vilistlastePealkiriEn" value="<%= liikmedData.vilistlastePealkiri.en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Vilistlaste nimekiri</h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="vilistlasteNimekiriEstEd" name="vilistlasteNimekiriEstEd"><%- liikmedData.vilistlasteNimekiri.est %></div>
      <input class="page-admin__hidden-input" name="vilistlasteNimekiriEst" id="vilistlasteNimekiriEst" value="<%- liikmedData.vilistlasteNimekiri.est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input" id="vilistlasteNimekiriEnEd" name="vilistlasteNimekiriEnEd"><%- liikmedData.vilistlasteNimekiri.en %></div>
      <input class="page-admin__hidden-input" name="vilistlasteNimekiriEn" id="vilistlasteNimekiriEn" value="<%- liikmedData.vilistlasteNimekiri.en %>"></input>
    </div>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
</form>
<form action="/upload/dirigendid" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristDirigendid">
  <h3 class="page-admin__title">Dirigendid</h3>
  <div class="page-admin__form-wrapper" id="dirigendidForm">
    <% for (var a = 0; a < dirigendidData.length; a++) { %>
    <div class="page-admin__subform dirigendidSubform" name="dirigendid<%= a + 1 %>Subform" id="dirigendid<%= a + 1 %>Subform">
      <h2 class="page-admin__subtitle dirigendidHeading" id="dirigendid<%= a + 1 %>Heading" name="dirigendid<%= a + 1 %>Heading">Dirigent <%= a + 1 %></h2>
      <div class="page-admin__form-box">
        <div class="page-admin__form-field">
          <h3 class="page-admin__heading">Portree</h3>
          <input type="file" id="dirigendid<%= a + 1 %>Portree" name="dirigendid<%= a + 1 %>Portree" class="page-admin__hidden-input file dirigendidPortree">
          <label for="dirigendid<%= a + 1 %>Portree" class="page-admin__small-btn dirigendidPortreeLabel" id="dirigendid<%= a + 1 %>PortreeLabel" name="dirigendid<%= a + 1 %>PortreeLabel">Vali fail</label>
          <p class="page-admin__input-placeholder dirigendidPortreePlaceholder" id="dirigendid<%= a + 1 %>PortreePlaceholder" name="dirigendid<%= a + 1 %>PortreePlaceholder"><%= portreed[a].filename %></p>
          <img class="page-admin__icon dirigendidPortreeImg" src="<%= portreed[a].url %>" id="dirigendid<%= a + 1 %>PortreeImg" name="dirigendid<%= a + 1 %>PortreeImg" alt="Portree <%= a + 1 %>">
        </div>
        <div class="page-admin__form-field">
          <h3 class="page-admin__heading">Nimi</h3>
          <input type="text" class="page-admin__input page-admin__input--bold input dirigendidNimi" name="dirigendid<%= a + 1 %>Nimi" id="dirigendid<%= a + 1 %>Nimi" value="<%= dirigendidData[a].nimi %>">
        </div>
      </div>
      <div class="page-admin__form-box dirigendidLoikForm" id="dirigendid<%= a + 1 %>LoikForm" name="dirigendid<%= a + 1 %>LoikForm">
        <% for (var i = 0; i < dirigendidData[a].loigud.length; i++) { %>
        <div class="page-admin__form-field dirigendid<%= a + 1 %>Loik" id="dirigendid<%= a + 1 %>Loik<%= i + 1 %>" data-heading="Lõik">
          <h3 class="page-admin__heading dirigendid<%= a + 1 %>LoikHeading">Lõik <%= i + 1 %></h3>
          <p class="page-admin__text">EST</p>
          <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input dirigendid<%= a + 1 %>LoikEstEd" id="dirigendid<%= a + 1 %>LoikEst<%= i + 1 %>Ed"
            name="dirigendid<%= a + 1 %>LoikEst<%= i + 1 %>Ed"><%- dirigendidData[a].loigud[i].est %></div>
          <input type="text" class="page-admin__hidden-input dirigendid<%= a + 1 %>LoikEst" id="dirigendid<%= a + 1 %>LoikEst<%= i + 1 %>" name="dirigendid<%= a + 1 %>LoikEst<%= i + 1 %>" value="<%- dirigendidData[a].loigud[i].est %>"></input>
          <p class="page-admin__text">EN</p>
          <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input dirigendid<%= a + 1 %>LoikEnEd" id="dirigendid<%= a + 1 %>LoikEn<%= i + 1 %>Ed" name="dirigendid<%= a + 1 %>LoikEn<%= i + 1 %>Ed">
            <%- dirigendidData[a].loigud[i].en %></div>
          <input type="text" class="page-admin__hidden-input dirigendid<%= a + 1 %>LoikEn" id="dirigendid<%= a + 1 %>LoikEn<%= i + 1 %>" name="dirigendid<%= a + 1 %>LoikEn<%= i + 1 %>" value="<%- dirigendidData[a].loigud[i].en %>"></input>
          <button class="page-admin__small-btn dirigendidLoikDeleteBtn dirigendid<%= a + 1 %>LoikDeleteBtn" type="button" id="dirigendid<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>" name="dirigendid<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>">Kustuta</button>
        </div>
        <% } %>
      </div>
      <div class="page-admin__form-box">
        <button class="page-admin__small-btn dirigendidLoikAddBtn" type="button" id="dirigendid<%= a + 1 %>LoikAddBtn">+ Lisa lõik +</button>
        <button class="page-admin__small-btn dirigendidDeleteBtn" type="button" id="dirigendid<%= a + 1 %>DeleteBtn">Kustuta dirigent</button>
      </div>
      <button class="page-admin__btn dirigendidSubmitBtn" id="dirigendid<%= a + 1 %>SubmitBtn" name="dirigendid<%= a + 1 %>SubmitBtn" type="submit">Salvesta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__btn" id="dirigendidAddBtn">+ Lisa dirigent +</button>
  </div>
</form>
<form action="/upload/ajalugu" method="post" class="page-admin__form" id="kooristAjalugu">
  <h3 class="page-admin__title">Ajalugu</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sissejuhatav pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="ajaluguSissejuhatusPealkiriEst" name="ajaluguSissejuhatusPealkiriEst" value="<%= ajaluguSissejuhatusData.pealkiri.est  %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="ajaluguSissejuhatusPealkiriEn" name="ajaluguSissejuhatusPealkiriEn" value="<%= ajaluguSissejuhatusData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="ajaluguSissejuhatusLoikForm">
    <% for (var i = 0; i < ajaluguSissejuhatusData.loigud.length; i++) { %>
    <div class="page-admin__form-field ajaluguSissejuhatusLoik" id="ajaluguSissejuhatusLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading ajaluguSissejuhatusLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajaluguSissejuhatusLoikEstEd" id="ajaluguSissejuhatusLoikEst<%= i + 1 %>Ed" name="ajaluguSissejuhatus<%= a + 1 %>LoikEst<%= i + 1 %>Ed">
        <%- ajaluguSissejuhatusData.loigud[i].est %></div>
      <input type="text" class="page-admin__hidden-input ajaluguSissejuhatusLoikEst" id="ajaluguSissejuhatusLoikEst<%= i + 1 %>" name="ajaluguSissejuhatusLoikEst<%= i + 1 %>" value="<%- ajaluguSissejuhatusData.loigud[i].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajaluguSissejuhatusLoikEnEd" id="ajaluguSissejuhatusLoikEn<%= i + 1 %>Ed" name="ajaluguSissejuhatus<%= a + 1 %>LoikEn<%= i + 1 %>Ed">
        <%- ajaluguSissejuhatusData.loigud[i].en %></div>
      <input type="text" class="page-admin__hidden-input ajaluguSissejuhatusLoikEn" id="ajaluguSissejuhatusLoikEn<%= i + 1 %>" name="ajaluguSissejuhatusLoikEn<%= i + 1 %>" value="<%- ajaluguSissejuhatusData.loigud[i].est %>"></input>
      <button class="page-admin__small-btn deleteBtn ajaluguSissejuhatusLoikDeleteBtn" type="button" id="ajaluguSissejuhatusLoikDeleteBtn<%= i + 1 %>" name="ajaluguSissejuhatusLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="ajaluguSissejuhatusLoikAddBtn">+ Lisa sissejuhatav lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <h2 class="page-admin__subtitle" id="ajaluguSissekanneHeading" name="ajaluguSissekanneHeading">Sissekanded</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sissekannete pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="ajaluguSissekannePealkiriEst" name="ajaluguSissekannePealkiriEst" value="<%= ajaluguSissekandedData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="ajaluguSissekannePealkiriEn" name="ajaluguSissekannePealkiriEn" value="<%= ajaluguSissekandedData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="ajaluguSissekanneLoikForm">
    <% for (var i = 0; i < ajaluguSissekandedData.sissekanded.length; i++) { %>
    <div class="page-admin__form-field ajaluguSissekanneLoik" id="ajaluguSissekanneLoik<%= i + 1 %>" data-heading="Sissekanne">
      <h3 class="page-admin__heading ajaluguSissekanneLoikHeading">Sissekanne <%= i + 1 %></h3>
      <p class="page-admin__text">AASTA</p>
      <input class="page-admin__input page-admin__input--bold input ajaluguSissekanneLoikYear" type="text" id="ajaluguSissekanneLoikYear<%= i + 1 %>" name="ajaluguSissekanneLoikYear<%= i + 1 %>"
        value="<%= ajaluguSissekandedData.sissekanded[i].aasta %>">
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajaluguSissekanneLoikEstEd" id="ajaluguSissekanneLoikEst<%= i + 1 %>Ed" name="ajaluguSissekanneLoikEst<%= i + 1 %>Ed">
        <%- ajaluguSissekandedData.sissekanded[i].est %></div>
      <input type="text" class="page-admin__hidden-input ajaluguSissekanneLoikEst" id="ajaluguSissekanneLoikEst<%= i + 1 %>" name="ajaluguSissekanneLoikEst<%= i + 1 %>"
        value="<%- ajaluguSissekandedData.sissekanded[i].est %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajaluguSissekanneLoikEnEd" id="ajaluguSissekanneLoikEn<%= i + 1 %>Ed" name="ajaluguSissekanneLoikEn<%= i + 1 %>Ed">
        <%- ajaluguSissekandedData.sissekanded[i].en %></div>
      <input type="text" class="page-admin__hidden-input ajaluguSissekanneLoikEn" id="ajaluguSissekanneLoikEn<%= i + 1 %>" name="ajaluguSissekanneLoikEn<%= i + 1 %>" value="<%- ajaluguSissekandedData.sissekanded[i].en %>"></input>
      <button class="page-admin__small-btn deleteBtn ajaluguSissekanneLoikDeleteBtn" type="button" id="ajaluguSissekanneLoikDeleteBtn<%= i + 1 %>" name="ajaluguSissekanneLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="ajaluguSissekanneLoikAddBtn">+ Lisa sissekanne +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <div class="page-admin__form-wrapper" id="ajaluguForm">
    <% for (var a = 0; a < ajaluguSektsioonidData.length; a++) { %>
    <div class="page-admin__subform ajaluguSubform" name="ajalugu<%= a + 1 %>Subform" id="ajalugu<%= a + 1 %>Subform">
      <h2 class="page-admin__subtitle ajaluguHeading u-margin-top-big" id="ajalugu<%= a + 1 %>Heading" name="ajalugu<%= a + 1 %>Heading">Sektsioon <%= a + 1 %></h2>
      <div class="page-admin__form-box">
        <div class="page-admin__form-field">
          <h3 class="page-admin__heading ajaluguPealkiriHeading">Sektsiooni pealkiri <%= a + 1 %></h3>
          <p class="page-admin__text">EST</p>
          <input type="text" class="page-admin__input page-admin__input--bold input ajaluguPealkiriEst" id="ajalugu<%= a + 1 %>PealkiriEst" name="ajalugu<%= a + 1 %>PealkiriEst" value="<%= ajaluguSektsioonidData[a].pealkiri.est %>">
          <p class="page-admin__text">EN</p>
          <input type="text" class="page-admin__input page-admin__input--bold input ajaluguPealkiriEn" id="ajalugu<%= a + 1 %>PealkiriEn" name="ajalugu<%= a + 1 %>PealkiriEn" value="<%= ajaluguSektsioonidData[a].pealkiri.en %>">
        </div>
      </div>
      <div class="page-admin__form-box ajaluguLoikForm" id="ajalugu<%= a + 1 %>LoikForm" name="ajalugu<%= a + 1 %>LoikForm">
        <% for (var i = 0; i < ajaluguSektsioonidData[a].loigud.length; i++) { %>
        <div class="page-admin__form-field ajalugu<%= a + 1 %>Loik" id="ajalugu<%= a + 1 %>Loik<%= i + 1 %>" data-heading="Lõik">
          <h3 class="page-admin__heading ajalugu<%= a + 1 %>LoikHeading">Lõik <%= i + 1 %></h3>
          <p class="page-admin__text">EST</p>
          <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajalugu<%= a + 1 %>LoikEstEd" id="ajalugu<%= a + 1 %>LoikEst<%= i + 1 %>Ed" name="ajalugu<%= a + 1 %>LoikEst<%= i + 1 %>Ed">
            <%- ajaluguSektsioonidData[a].loigud[i].est %></div>
          <input type="text" class="page-admin__hidden-input ajalugu<%= a + 1 %>LoikEst" id="ajalugu<%= a + 1 %>LoikEst<%= i + 1 %>" name="ajalugu<%= a + 1 %>LoikEst<%= i + 1 %>"
            value="<%- ajaluguSektsioonidData[a].loigud[i].est %>"></input>
          <p class="page-admin__text">EN</p>
          <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input ajalugu<%= a + 1 %>LoikEnEd" id="ajalugu<%= a + 1 %>LoikEn<%= i + 1 %>Ed" name="ajalugu<%= a + 1 %>LoikEn<%= i + 1 %>Ed">
            <%- ajaluguSektsioonidData[a].loigud[i].en %></div>
          <input type="text" class="page-admin__hidden-input ajalugu<%= a + 1 %>LoikEn" id="ajalugu<%= a + 1 %>LoikEn<%= i + 1 %>" name="ajaluguSissekanneLoikEn<%= i + 1 %>"
            value="<%- ajaluguSektsioonidData[a].loigud[i].en %>"></input>
          <button class="page-admin__small-btn ajaluguLoikDeleteBtn ajalugu<%= a + 1 %>LoikDeleteBtn" type="button" id="ajalugu<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>" name="ajalugu<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>">Kustuta</button>
        </div>
        <% } %>
      </div>
      <div class="page-admin__form-box">
        <button class="page-admin__small-btn ajaluguLoikAddBtn" type="button" id="ajalugu<%= a + 1 %>LoikAddBtn">+ Lisa lõik +</button>
        <button class="page-admin__small-btn ajaluguDeleteBtn" type="button" id="ajalugu<%= a + 1 %>DeleteBtn">Kustuta sektsioon</button>
      </div>
      <button class="page-admin__btn ajaluguSubmitBtn" id="ajalugu<%= a + 1 %>SubmitBtn" name="ajalugu<%= a + 1 %>SubmitBtn" type="submit">Salvesta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__btn" id="ajaluguAddBtn">+ Lisa sektsioon +</button>
  </div>
</form>
<form action="/upload/meedia" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristMeedia">
  <h3 class="page-admin__title">Meedia</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sissejuhatav pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaPealkiriEst" name="meediaPealkiriEst" value="<%= meediaSissejuhatusData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaPealkiriEn" name="meediaPealkiriEn" value="<%= meediaSissejuhatusData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="meediaLoikForm">
    <% for (var i = 0; i < meediaSissejuhatusData.loigud.length; i++) { %>
    <div class="page-admin__form-field meediaLoik" id="meediaLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading meediaLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input meediaLoikEstEd" id="meediaLoikEst<%= i + 1 %>Ed" name="meediaLoikEst<%= i + 1 %>Ed"><%-  meediaSissejuhatusData.loigud[i].est %></div>
      <input type="text" class="page-admin__hidden-input meediaLoikEst" id="meediaLoikEst<%= i + 1 %>" name="meediaLoikEst<%= i + 1 %>" value="<%-  meediaSissejuhatusData.loigud[i].est  %>"></input>
      <p class="page-admin__text">EN</p>
      <div type="text" contenteditable="true" class="page-admin__input page-admin__text-area input editable-input meediaLoikEnEd" id="meediaLoikEn<%= i + 1 %>Ed" name="meediaLoikEn<%= i + 1 %>Ed"><%-  meediaSissejuhatusData.loigud[i].en %></div>
      <input type="text" class="page-admin__hidden-input meediaLoikEn" id="meediaLoikEn<%= i + 1 %>" name="meediaLoikEn<%= i + 1 %>" value="<%-  meediaSissejuhatusData.loigud[i].en  %>"></input>
      <button class="page-admin__small-btn deleteBtn meediaLoikDeleteBtn" type="button" id="meediaLoikDeleteBtn<%= i + 1 %>" name="meediaLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="meediaLoikAddBtn">+ Lisa sissejuhatav lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <h2 class="page-admin__subtitle" id="meediaVideoHeading" name="meediaVideoHeading">Manustamislingid</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaVideoPealkiriEst" name="meediaVideoPealkiriEst" value="<%= meediaVideodData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaVideoPealkiriEn" name="meediaVideoPealkiriEn" value="<%= meediaVideodData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__instruction-box u-margin-top-big">
    <p class="page-admin__heading"><strong>NB!</strong></p>
    <p class="page-admin__small-text"><strong>Palun veendu, et lingi ette jäi ka veebiprotokoll! <br> (harilikult https:// või http://)</strong></p>
  </div>
  <div class="page-admin__form-box" id="meediaVideoLoikForm">
    <% for (var i = 0; i < meediaVideodData.manustamislingid.length; i++) { %>
    <div class="page-admin__form-field meediaVideoLoik" id="meediaVideoLoik<%= i + 1 %>" data-heading="Manustamislink">
      <h3 class="page-admin__heading meediaVideoLoikHeading">Manustamislink <%= i + 1 %></h3>
      <p class="page-admin__text">LINK</p>
      <input type="text" class="page-admin__input input meediaVideoLoikLink" id="meediaVideoLoikLink<%= i + 1 %>" name="meediaVideoLoikLink<%= i + 1 %>" value="<%= meediaVideodData.manustamislingid[i] %>">
      <button class="page-admin__small-btn deleteBtn meediaVideoLoikDeleteBtn" type="button" id="meediaVideoLoikDeleteBtn<%= i + 1 %>" name="meediaVideoLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="meediaVideoLoikAddBtn">+ Lisa link +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
  <h2 class="page-admin__subtitle" id="meediaVideoHeading" name="meediaVideoHeading">Muud lingid</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaLinkPealkiriEst" name="meediaLinkPealkiriEst" value="<%= meediaLingidData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" id="meediaLinkPealkiriEn" name="meediaLinkPealkiriEn" value="<%= meediaLingidData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__instruction-box u-margin-top-big">
    <p class="page-admin__heading"><strong>NB!</strong></p>
    <p class="page-admin__small-text"><strong>Palun veendu, et lingi ette jäi ka veebiprotokoll! <br> (harilikult https:// või http://)</strong></p>
  </div>
  <div class="page-admin__form-box" id="meediaLinkLoikForm">
    <% for (var i = 0; i < meediaLingidData.lingid.length; i++) { %>
    <div class="page-admin__form-field meediaLinkLoik" id="meediaLinkLoik<%= i + 1 %>" data-heading="Link">
      <h3 class="page-admin__heading meediaLinkLoikHeading">Link <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input meediaLinkLoikEst" id="meediaLinkLoikEst<%= i + 1 %>" name="meediaLinkLoikEst<%= i + 1 %>" value="<%= meediaLingidData.lingid[i].est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input input meediaLinkLoikEn" id="meediaLinkLoikEn<%= i + 1 %>" name="meediaLinkLoikEn<%= i + 1 %>" value="<%= meediaLingidData.lingid[i].en %>">
      <p class="page-admin__text">LINK</p>
      <input type="text" class="page-admin__input input meediaLinkLoikLink" id="meediaLinkLoikLink<%= i + 1 %>" name="meediaLinkLoikLink<%= i + 1 %>" value="<%= meediaLingidData.lingid[i].link %>">
      <button class="page-admin__small-btn deleteBtn meediaLinkLoikDeleteBtn" type="button" id="meediaLinkLoikDeleteBtn<%= i + 1 %>" name="meediaLinkLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="meediaLinkLoikAddBtn">+ Lisa link +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
</form>
<form action="/upload/toetajad" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristToetajad">
  <h3 class="page-admin__title">Toetajad</h3>
  <div class="page-admin__instruction-box u-margin-top-big">
    <p class="page-admin__heading"><strong>NB!</strong></p>
    <p class="page-admin__small-text"><strong>Palun veendu, et lingi ette jäi ka veebiprotokoll! <br> (harilikult https:// või http://)</strong></p>
  </div>
  <div class="page-admin__form-box" id="toetajadLoikForm">
    <% for (var i = 0; i < toetajadData.length; i++) { %>
    <div class="page-admin__form-field toetajadLoik" id="toetajadLoik<%= i + 1 %>" data-heading="Logo">
      <h3 class="page-admin__heading toetajadLoikHeading">Logo <%= i + 1 %></h3>
      <input class="page-admin__hidden-input file toetajadLoikFile" type="file" id="toetajadLoikFile<%= i + 1 %>" name="toetajadLoikFile<%= i + 1 %>">
      <label for="toetajadLoikFile<%= i + 1 %>" class="page-admin__small-btn toetajadLoikLabel" id="toetajadLoikLabel<%= i + 1 %>">Vali fail</label>
      <p class="page-admin__input-placeholder toetajadLoikPlaceholder" id="toetajadLoikPlaceholder<%= i + 1 %>"> <%= toetajadData[i].filename  %></p>
      <img class="page-admin__icon toetajadLoikImg" src="<%= toetajadData[i].url %>" id="toetajadLoikImg<%= i + 1 %>" alt="Logo <%= i + 1 %>">
      <p class="page-admin__text">LINK</p>
      <input type="text" class="page-admin__input input toetajadLoikLink" id="toetajadLoikLink<%= i + 1 %>" name="toetajadLoikLink<%= i + 1 %>" value="<%= toetajadData[i].link  %>">
      <button class="page-admin__small-btn deleteBtn toetajadLoikDeleteBtn" type="button" id="toetajadLoikDeleteBtn<%= i + 1 %>" name="toetajadLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="toetajadLoikAddBtn">+ Lisa logo +</button>
  </div>
  <button class="page-admin__btn" type="submit">Salvesta</button>
</form>

<%- include partials/footer -%>
