<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="height=device-height, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c359ba9fc.js"></script>
  <link rel="stylesheet" href="../css/style.css">
  <title>Segakoor Noorus | <%= pageTitle %></title>
</head>

<body class="page-admin">
  <nav class="page-admin__navigation">
    <ul class="page-admin__list">
      <li class="page-admin__item"><a href="" class="page-admin__link">Avaleht</a></li>
      <li class="page-admin__item"><a href="" class="page-admin__link">Koorist</a></li>
      <li class="page-admin__item"><a href="" class="page-admin__link">Vastuvõtt</a></li>
      <li class="page-admin__item"><a href="" class="page-admin__link">Sündmused</a></li>
      <li class="page-admin__item"><a href="" class="page-admin__link">Kontakt</a></li>
    </ul>
  </nav>
  <form action="/upload" method="post" enctype="multipart/form-data" class="page-admin__form">
    <input type="hidden" name="formInstance" value="avalehtPildid">
    <h3 class="page-admin__title">Pildid</h3>
    <div class="page-admin__form-box">
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Päiseikoon</h3>
        <input type="file" name="avalehtPaiseikoon" id="avalehtPaiseikoon" class="page-admin__hidden-input">
        <label for="avalehtPaiseikoon" class="page-admin__small-btn">Vali fail</label>
        <p class="page-admin__input-placeholder"></p>
        <img class="page-admin__icon" src="/img/favicon.png" alt="">
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Logo</h3>
        <input type="file" name="avalehtLogo" id="avalehtLogo" class="page-admin__hidden-input">
        <label for="avalehtLogo" class="page-admin__small-btn">Vali fail</label>
        <p class="page-admin__input-placeholder"></p>
        <img class="page-admin__icon" src="/img/logo-lilla.png" alt="">
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Taustapilt</h3>
        <input type="file" name="avalehtTaustapilt" id="avalehtTaustapilt" class="page-admin__hidden-input">
        <label for="avalehtTaustapilt" class="page-admin__small-btn">Vali fail</label>
        <p class="page-admin__input-placeholder"></p>
        <img class="page-admin__icon" src="/img/noorus1.jpg" alt="">
      </div>
    </div>
    <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  </form>
  <form action="/admin/avaleht" method="post" class="page-admin__form">
    <input type="hidden" name="formInstance" value="avalehtTekstid">
    <h3 class="page-admin__title">Tekstid</h3>
    <div class="page-admin__form-box">
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Suur pealkiri</h3>
        <p class="page-admin__text">EST</p>
        <input type="text" class="page-admin__input" name="suurPealkiriEst" value="<%= avalehtTekstidData.suurPealkiri.est %>">
        <p class="page-admin__text">EN</p>
        <input type="text" class="page-admin__input" name="suurPealkiriEn" value="<%= avalehtTekstidData.suurPealkiri.en %>">
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Jätkupealkiri</h3>
        <p class="page-admin__text">EST</p>
        <textarea class="page-admin__input page-admin__text-area" name="jatkuPealkiriEst" rows="1"><%= avalehtTekstidData.jatkuPealkiri.est %></textarea>
        <p class="page-admin__text">EN</p>
        <textarea class="page-admin__input page-admin__text-area" name="jatkuPealkiriEn" rows="1"><%= avalehtTekstidData.jatkuPealkiri.en %></textarea>
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Sektsiooni pealkiri 1</h3>
        <p class="page-admin__text">EST</p>
        <input type="text" class="page-admin__input" name="sektsiooniPealkiri1Est" value="<%= avalehtTekstidData.sektsiooniPealkiri1.est %>">
        <p class="page-admin__text">EN</p>
        <input type="text" class="page-admin__input" name="sektsiooniPealkiri1En" value="<%= avalehtTekstidData.sektsiooniPealkiri1.en %>">
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Sektsiooni tekst 1</h3>
        <p class="page-admin__text">EST</p>
        <textarea class="page-admin__input page-admin__text-area" name="sektsiooniTekst1Est" rows="1"><%= avalehtTekstidData.sektsiooniTekst1.est %></textarea>
        <p class="page-admin__text">EN</p>
        <textarea class="page-admin__input page-admin__text-area" name="sektsiooniTekst1En" rows="1"><%= avalehtTekstidData.sektsiooniTekst1.en %></textarea>
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Sektsiooni pealkiri 2</h3>
        <p class="page-admin__text">EST</p>
        <input type="text" class="page-admin__input" name="sektsiooniPealkiri2Est" value="<%= avalehtTekstidData.sektsiooniPealkiri2.est %>">
        <p class="page-admin__text">EN</p>
        <input type="text" class="page-admin__input" name="sektsiooniPealkiri2En" value="<%= avalehtTekstidData.sektsiooniPealkiri2.en %>">
      </div>
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Sektsiooni tekst 2</h3>
        <p class="page-admin__text">EST</p>
        <textarea class="page-admin__input page-admin__text-area" name="sektsiooniTekst2Est" rows="1"><%= avalehtTekstidData.sektsiooniTekst2.est %></textarea>
        <p class="page-admin__text">EN</p>
        <textarea class="page-admin__input page-admin__text-area" name="sektsiooniTekst2En" rows="1"><%= avalehtTekstidData.sektsiooniTekst2.en %></textarea>
      </div>
    </div>
    <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <!-- </form>
  <h3 class="page-admin__title">Hüpikaken</h3>
  <form action="/admin/avaleht" method="post" class="page-admin__form">
    <input type="hidden" name="formInstance" value="avalehtHupikaken">
    <button class="page-admin__small-btn" type="button" name="button">Peida hüpikaken</button>
    <div class="page-admin__form-box">
      <div class="page-admin__form-field">
        <h3 class="page-admin__heading">Hüpikakna pealkiri</h3>
        <p class="page-admin__text">EST</p>
        <textarea class="page-admin__input page-admin__text-area" name="hupikaknaPealkiriEst" rows="1"><%= avalehtHupikakenData[0].est %></textarea>
        <p class="page-admin__text">EN</p>
        <textarea class="page-admin__input page-admin__text-area" name="hupikaknaPealkiriEn" rows="1"><%= avalehtHupikakenData[0].en %></textarea>
      </div>
    </div>
    <h3 class="page-admin__heading">Hüpikakna tabeliväljad</h3>
    <button class="page-admin__small-btn" type="submit" name="formButton" value="hupikakenLisaUus">Lisa uus</button>
    <div class="page-admin__form-box">
      <div class="page-admin__list-box">
        <% for (var i = 1; i < avalehtHupikakenData.length; i++) { %>
        <div class="page-admin__form-field">
          <p class="page-admin__text">EST</p>
          <input type="text" class="page-admin__input" name="<%= avalehtHupikakenData[i].nameEst %>" value="<%= avalehtHupikakenData[i].est %>">
          <p class="page-admin__text">EN</p>
          <input type="text" class="page-admin__input" name="<%= avalehtHupikakenData[i].nameEn %>" value="<%= avalehtHupikakenData[i].en %>">
        </div>
        <% } %>
      </div>
    </div>
    <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  </form> -->
</body>
