<%- include('partials/head', {data: data}); -%>
<%- include('partials/admin-nav', {data: data}); -%>
<%- include('partials/admin-popup', {data: data}); -%>

<h1 class="admin__heading admin__heading--primary">Liikmed</h1>
<form action="/api/members/intro" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="membersIntro">
  <h3 class="admin__heading admin__heading--secondary">Sissejuhatav tekst</h3>

    <div class="admin__form-field">
      <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
      <div class="admin__input-group">
        <div class="admin__input-item">
          <h3 class="admin__heading admin__heading--quarternary">EST</h3>
          <div class="admin__editor">
            <div class="editor" name="membersIntroEstEditor" id="membersIntroEstEditor">
            </div>
          </div>
            <input type="text" class="admin__hidden-input" name="membersIntroEst" id="membersIntroEst">
        </div>
        <div class="admin__input-item">
          <h3 class="admin__heading admin__heading--quarternary">EN</h3>
          <div class="admin__editor">
            <div class="editor" name="membersIntroEnEditor" id="membersIntroEnEditor">
            </div>
          </div>
            <input type="text" class="admin__hidden-input" name="membersIntroEn" id="membersIntroEn">
        </div>
      </div>
      <div class="admin__btn-group">
        <button class="admin__btn" type="submit" name="membersIntroBtn" id="membersIntroBtn">Salvesta</button>
      </div>
      </div>
</form>

<% for (var i = 0; i < 4; i++) { %>

  <form action="/api/members/grid/<%= i + 1 %>" method="post" class="admin__form" id="membersGrid<%= i + 1 %>">
        <h3 class="admin__heading admin__heading--secondary">Häälerühm <%= i + 1 %></h3>
      <div class="admin__form-field">
        <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
        <div class="admin__input-group">
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EST</h3>
            <input type="text" class="admin__input admin__input--bold membersGridHeadingEst" name="membersGridHeading<%= i + 1 %>Est" id="membersGridHeading<%= i + 1 %>Est">
          </div>
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EN</h3>
            <input type="text" class="admin__input admin__input--bold membersGridHeadingEn" name="membersGridHeading<%= i + 1 %>En" id="membersGridHeading<%= i + 1 %>En">
          </div>
        </div>
        <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
        <div class="admin__input-group">
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EST</h3>
            <div class="admin__editor">
              <div class="editor membersGridEstEditor" name="membersGrid<%= i + 1 %>EstEditor" id="membersGrid<%= i + 1 %>EstEditor">
              </div>
            </div>
            <input type="text" class="admin__hidden-input membersGridEst" name="membersGrid<%= i + 1 %>Est" id="membersGrid<%= i + 1 %>Est">
          </div>
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EN</h3>
            <div class="admin__editor">
              <div class="editor membersGridEnEditor" name="membersGrid<%= i + 1 %>EnEditor" id="membersGrid<%= i + 1 %>EnEditor">
              </div>
            </div>
            <input type="text" class="admin__hidden-input membersGridEn" name="membersGrid<%= i + 1 %>En" id="membersGrid<%= i + 1 %>En">
          </div>
        </div>
        <button class="admin__btn" type="submit" name="button" id="membersGrid<%= i + 1 %>Btn">Salvesta</button>
        </div>
  </form>
<% } %>

<% for (var i = 0; i < 2; i++) { %>

  <form action="/api/members/sections/<%= i + 1 %>" method="post" class="admin__form" id="membersSection<%= i + 1 %>">
        <h3 class="admin__heading admin__heading--secondary">Sektsioon <%= i + 1 %></h3>

        <div class="admin__form-field">
          <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
          <div class="admin__input-group">
            <div class="admin__input-item">
              <h3 class="admin__heading admin__heading--quarternary">EST</h3>
              <input type="text" class="admin__input admin__input--bold membersHeadingEst" name="membersHeading<%= i + 1 %>Est" id="membersHeading<%= i + 1 %>Est">
            </div>
            <div class="admin__input-item">
              <h3 class="admin__heading admin__heading--quarternary">EN</h3>
            <input type="text" class="admin__input admin__input--bold membersHeadingEn" name="membersHeading<%= i + 1 %>En" id="membersHeading<%= i + 1 %>En">
          </div>
          </div>
          <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
          <div class="admin__input-group">
            <div class="admin__input-item">
              <h3 class="admin__heading admin__heading--quarternary">EST</h3>
              <div class="admin__editor">
                <div class="editor membersSectionEstEditor" name="membersSection<%= i + 1 %>EstEditor" id="membersSection<%= i + 1 %>EstEditor">
                </div>
              </div>
                <input type="text" class="admin__hidden-input membersSectionEst" name="membersSection<%= i + 1 %>Est" id="membersSection<%= i + 1 %>Est">
            </div>
            <div class="admin__input-item">
              <h3 class="admin__heading admin__heading--quarternary">EN</h3>
              <div class="admin__editor">
                <div class="editor membersSectionEnEditor" name="membersSection<%= i + 1 %>EnEditor" id="membersSection<%= i + 1 %>EnEditor">
                </div>
              </div>
            </div>
            <input type="text" class="admin__hidden-input membersSectionEn" name="membersSection<%= i + 1 %>En" id="membersSection<%= i + 1 %>En">
          </div>
          <div class="admin__btn-group">
            <a class="admin__btn membersSectionDeleteBtn" name="membersSection<%= i + 1 %>DeleteBtn" id="membersSection<%= i + 1 %>DeleteBtn">Kustuta</a>
            <button class="admin__btn membersSectionBtn" type="submit" name="membersSection<%= i + 1 %>Btn" id="membersSection<%= i + 1 %>Btn">Salvesta</button>
          </div>
          </div>
        </form>
        <% } %>
        <a class="admin__btn" name="membersSectionAddBtn" id="membersSectionAddBtn">+ Lisa Sektsioon +</a>




<%- include('partials/footer') -%>
