<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/admin-nav {routeName: routeName} -%>
<%- include partials/admin-popup -%>
<form action="/upload/avaleht/pildid" method="post" enctype="multipart/form-data" class="page-admin__form" id="avalehtPildid">
  <h3 class="page-admin__title">Pildid</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Päiseikoon</h3>
      <input type="file" name="paiseikoon" id="paiseikoon" class="page-admin__hidden-input file">
      <label for="paiseikoon" class="page-admin__small-btn" id="paiseikoonLabel">Vali fail</label>
      <p class="page-admin__input-placeholder" id="paiseikoonPlaceholder"><%= paiseikoon.filename %></p>
      <img class="page-admin__icon" src="<%= paiseikoon.url %>" id="paiseikoonImg" alt="Päiseikoon">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Logo</h3>
      <input type="file" name="avalehtLogo" id="avalehtLogo" class="page-admin__hidden-input file">
      <label for="avalehtLogo" class="page-admin__small-btn" id="avalehtLogoLabel">Vali fail</label>
      <p class="page-admin__input-placeholder" id="avalehtLogoPlaceholder"><%= avalehtPildidData.avalehtLogo.filename %></p>
      <img class="page-admin__icon" src="<%= avalehtPildidData.avalehtLogo.url %>" id="avalehtLogoImg" alt="Avalehe logo">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Taustapilt</h3>
      <input type="file" name="avalehtTaustapilt" id="avalehtTaustapilt" class="page-admin__hidden-input file">
      <label for="avalehtTaustapilt" class="page-admin__small-btn" id="avalehtTaustapiltLabel">Vali fail</label>
      <p class="page-admin__input-placeholder" id="avalehtTaustapiltPlaceholder"><%= avalehtPildidData.avalehtTaustapilt.filename %></p>
      <img class="page-admin__icon" src="<%= avalehtPildidData.avalehtTaustapilt.url %>" id="avalehtTaustapiltImg" alt="Avalehe taustapilt">
    </div>
  </div>
  <button class="page-admin__btn" type="submit" name="button" id="avalehtPildidBtn">Salvesta</button>
</form>
<form action="/upload/avaleht/tekstid" method="post" class="page-admin__form" id="avalehtTekstid">
  <h3 class="page-admin__title">Tekstid</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Suur pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="suurPealkiriEst" id="suurPealkiriEst" value="<%= avalehtTekstidData.suurPealkiri.est %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="suurPealkiriEn" id="suurPealkiriEn" value="<%= avalehtTekstidData.suurPealkiri.en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Jätkupealkiri</h3>
      <p class="page-admin__text">EST</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="jatkuPealkiriEst" name="jatkuPealkiriEst" rows="1"><%- avalehtTekstidData.jatkuPealkiri.est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="jatkuPealkiriEn" name="jatkuPealkiriEn" rows="1"><%- avalehtTekstidData.jatkuPealkiri.en %></textarea>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni pealkiri 1</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="sektsiooniPealkiriEst1" id="sektsiooniPealkiriEst1" value="<%= avalehtTekstidData.sektsiooniPealkiri1.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="sektsiooniPealkiriEn1" id="sektsiooniPealkiriEn1" value="<%= avalehtTekstidData.sektsiooniPealkiri1.en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni tekst 1</h3>
      <p class="page-admin__text">EST</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="sektsiooniTekstEst1" name="sektsiooniTekstEst1" rows="1"><%- avalehtTekstidData.sektsiooniTekst1.est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="sektsiooniTekstEn1" name="sektsiooniTekstEn1" rows="1"><%- avalehtTekstidData.sektsiooniTekst1.en %></textarea>
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni pealkiri 2</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="sektsiooniPealkiriEst2" id="sektsiooniPealkiriEst2" value="<%= avalehtTekstidData.sektsiooniPealkiri2.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input page-admin__input--bold input" name="sektsiooniPealkiriEn2" id="sektsiooniPealkiriEn2" value="<%= avalehtTekstidData.sektsiooniPealkiri2.en %>">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Sektsiooni tekst 2</h3>
      <p class="page-admin__text">EST</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="sektsiooniTekstEst2" name="sektsiooniTekstEst2" rows="1"><%- avalehtTekstidData.sektsiooniTekst2.est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea class="page-admin__input page-admin__text-area page-admin__input--bold input" id="sektsiooniTekstEn2" name="sektsiooniTekstEn2" rows="1"><%- avalehtTekstidData.sektsiooniTekst2.en %></textarea>
    </div>
  </div>
  <button class="page-admin__btn" type="submit" name="button" id="avalehtTekstidBtn">Salvesta</button>
  <%- include partials/footer -%>
