<%- include('partials/head', {data: data}); -%>
<%- include('partials/admin-nav', {data: data}); -%>
<%- include('partials/admin-popup', {data: data}); -%>

<h1 class="admin__heading admin__heading--primary">Toetajad</h1>
<form action="/api/sponsors/intro" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="sponsorsIntro">
  <h3 class="admin__heading admin__heading--secondary">Sissejuhatav tekst</h3>

  <div class="admin__form-field">
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EST</h3>
        <div class="admin__input">
          <div class="editor ">
          </div>
        </div>
      </div>
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">EN</h3>
        <div class="admin__input">
          <div class="editor">
          </div>
        </div>
      </div>
    </div>
     <div class="admin__btn-group">
    <button class="admin__btn" type="submit" name="button" id="sponsorsIntroBtn">Salvesta</button>
    </div>
  </div>
</form>

<form action="/api/sponsors/sponsors" method="post" enctype="multipart/form-data" class="admin__form" id="sponsorsLogos">
  <h3 class="admin__heading admin__heading--secondary">Lingid</h3>

  <div class="admin__form-field">
    <% for (var i = 0; i < 2; i++) { %>
      <h3 class="admin__heading admin__heading--tertiary">Logo <%= i + 1 %></h3>
    <div class="admin__input__group">
      <input type="file" name="sponsorsImg<%= i + 1 %>" id="sponsorsImg<%= i + 1 %>" class="admin__hidden-input file">
      <label for="sponsorsImg<%= i + 1 %>" class="admin__small-btn" id="sponsorsImgLabel<%= i + 1 %>">Vali fail</label>
      <p class="admin__input-placeholder" id="sponsorsImgPlaceholder<%= i + 1 %>"><%= %></p>
      <img class="admin__icon" src="/img/Lendutõus.jpg" id="sponsorsImgIcon<%= i + 1 %>" alt="Toetaja logo">
    </div>
    <div class="admin__input-group">
      <div class="admin__input-item">
        <h3 class="admin__heading admin__heading--quarternary">LINK</h3>
        <div class="admin__input">
          <div class="textInput">
          </div>
        </div>
      </div>
    </div>
    <button class="admin__small-btn sponsorsDeleteBtn" type="button" id="sponsorsDeleteBtn<%= i + 1 %>" name="sponsorsDeleteBtn<%= i + 1 %>">Kustuta</button>
    <% } %>
    <div class="admin__btn-group">
      <button class="admin__small-btn" name="button" id="sponsorsSectionsAddBtn">+ Lisa logo +</button>
    </div>
    <div class="admin__btn-group">
      <button class="admin__btn" name="button" type="submit" id="sponsorsSectionsBtn<%= i + 1 %>">Salvesta</button>
    </div>
  </div>
</form>

<%- include('partials/footer') -%>
