<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/admin-nav {routeName: routeName} -%>
<%- include partials/admin-popup -%>
<form action="/upload/sundmused" method="post" class="page-admin__form" id="sundmused">
  <div class="page-admin__form-box" id="sundmusedSissejuhatusLoikForm">
    <% for (var i = 0; i < sundmusedSissejuhatusData.length; i++) { %>
    <div class="page-admin__form-field sundmusedSissejuhatusLoik" id="sundmusedSissejuhatusLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading sundmusedSissejuhatusLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input sundmusedSissejuhatusLoikEst" id="sundmusedSissejuhatusLoikEst<%= i + 1 %>" name="sundmusedSissejuhatusLoikEst<%= i + 1 %>"
        rows="1"><%= sundmusedSissejuhatusData[i].est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input sundmusedSissejuhatusLoikEn" id="sundmusedSissejuhatusLoikEn<%= i + 1 %>" name="sundmusedSissejuhatusLoikEn<%= i + 1 %>"
        rows="1"><%= sundmusedSissejuhatusData[i].en %></textarea>
      <button class="page-admin__small-btn deleteBtn sundmusedSissejuhatusLoikDeleteBtn" type="button" id="sundmusedSissejuhatusLoikDeleteBtn<%= i + 1 %>" name="sundmusedSissejuhatusLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="sundmusedSissejuhatusLoikAddBtn">+ Lisa sissejuhatav lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit" id="sundmusedSissejuhatusBtn" name="button">Salvesta</button>
  <div class="page-admin__form-wrapper" id="sundmusedForm">
    <% for (var a = 0; a < sundmusedData.length; a++) { %>
    <div class="page-admin__subform sundmusedSubform" name="sundmused<%= a + 1 %>Subform" id="sundmused<%= a + 1 %>Subform">
      <h2 class="page-admin__subtitle sundmusedHeading" id="sundmused<%= a + 1 %>Heading" name="sundmused<%= a + 1 %>Heading">Sündmus <%= a + 1 %></h2>
      <div class="page-admin__form-box">
        <div class="page-admin__form-field">
          <h3 class="page-admin__heading">Plakat</h3>
          <input type="file" id="sundmused<%= a + 1 %>Plakat" name="sundmused<%= a + 1 %>Plakat" class="page-admin__hidden-input file sundmusedPlakat">
          <label for="sundmused<%= a + 1 %>Plakat" class="page-admin__small-btn sundmusedPlakatLabel" id="sundmused<%= a + 1 %>PlakatLabel" name="sundmused<%= a + 1 %>PlakatLabel">Vali fail</label>
          <p class="page-admin__input-placeholder sundmusedPlakatPlaceholder" id="sundmused<%= a + 1 %>PlakatPlaceholder" name="sundmused<%= a + 1 %>PlakatPlaceholder"><%= plakatid[a].filename %></p>
          <img class="page-admin__icon sundmusedPlakatImg" src="<%= plakatid[a].url %>" id="sundmused<%= a + 1 %>PlakatImg" name="sundmused<%= a + 1 %>PlakatImg" alt="Plakat <%= a + 1 %>">
        </div>
        <div class="page-admin__form-field">
          <h3 class="page-admin__heading">Pealkiri</h3>
          <p class="page-admin__text">EST</p>
          <input type="text" class="page-admin__input input sundmusedPealkiriEst" id="sundmused<%= a + 1 %>PealkiriEst" name="sundmused<%= a + 1 %>PealkiriEst" value="<%= sundmusedData[a].pealkiri.est %>">
          <p class="page-admin__text">EN</p>
          <input type="text" class="page-admin__input input sundmusedPealkiriEn" id="sundmused<%= a + 1 %>PealkiriEn" name="sundmused<%= a + 1 %>PealkiriEn" value="<%= sundmusedData[a].pealkiri.en %>">
        </div>
      </div>
      <div class="page-admin__instruction-box">
        <p class="page-admin__heading"><strong>NB!</strong></p>
        <p class="page-admin__small-text"><strong>Sündmuse lingi ette tuleb lisada ka veebiprotokoll <br> (harilikult https:// või http://)</strong></p>
      </div>
      <div class="page-admin__form-box sundmusedLoikKohtForm" id="sundmused<%= a + 1 %>LoikKohtForm" name="sundmused<%= a + 1 %>LoikKohtForm">
        <% for (var i = 0; i < sundmusedKohtData[a].kohad.length; i++) { %>
        <div class="page-admin__form-field sundmused<%= a + 1 %>LoikKoht" id="sundmused<%= a + 1 %>LoikKoht<%= i + 1 %>" data-heading="Koht ja aeg">
          <h3 class="page-admin__heading sundmused<%= a + 1 %>LoikKohtHeading">Koht ja aeg <%= i + 1 %></h3>
          <p class="page-admin__text">EST</p>
          <textarea type="text" class="page-admin__input page-admin__text-area input sundmused<%= a + 1 %>LoikKohtEst" id="sundmused<%= a + 1 %>LoikKohtEst<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikKohtEst<%= i + 1 %>"
            rows="1"><%= sundmusedKohtData[a].kohad[i].est %></textarea>
          <p class="page-admin__text">EN</p>
          <textarea type="text" class="page-admin__input page-admin__text-area input sundmused<%= a + 1 %>LoikKohtEn" id="sundmused<%= a + 1 %>LoikKohtEn<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikKohtEn<%= i + 1 %>"
            rows="1"><%= sundmusedKohtData[a].kohad[i].en %></textarea>
          <p class="page-admin__text">LINK</p>
          <input type="text" class="page-admin__input input sundmused<%= a + 1 %>LoikKohtLink" id="sundmused<%= a + 1 %>LoikKohtLink<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikKohtLink<%= i + 1 %>" value="<%= sundmusedKohtData[a].kohad[i].link %>">
          <button class="page-admin__small-btn sundmusedLoikKohtDeleteBtn sundmused<%= a + 1 %>LoikKohtDeleteBtn" type="button" id="sundmused<%= a + 1 %>LoikKohtDeleteBtn<%= i + 1 %>"
            name="sundmused<%= a + 1 %>LoikKohtDeleteBtn<%= i + 1 %>">Kustuta</button>
        </div>
        <% } %>
      </div>
      <div class="page-admin__form-box">
        <button class="page-admin__small-btn sundmusedLoikKohtAddBtn" type="button" id="sundmused<%= a + 1 %>LoikKohtAddBtn">+ Lisa koht ja aeg +</button>
      </div>
      <div class="page-admin__form-box sundmusedLoikForm" id="sundmused<%= a + 1 %>LoikForm" name="sundmused<%= a + 1 %>LoikForm">
        <% for (var i = 0; i < sundmusedData[a].loigud.length; i++) { %>
        <div class="page-admin__form-field sundmused<%= a + 1 %>Loik" id="sundmused<%= a + 1 %>Loik<%= i + 1 %>" data-heading="Rida">
          <h3 class="page-admin__heading sundmused<%= a + 1 %>LoikHeading">Rida <%= i + 1 %></h3>
          <p class="page-admin__text">EST</p>
          <textarea type="text" class="page-admin__input page-admin__text-area input sundmused<%= a + 1 %>LoikEst" id="sundmused<%= a + 1 %>LoikEst<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikEst<%= i + 1 %>"
            rows="1"><%= sundmusedData[a].loigud[i].est %></textarea>
          <p class="page-admin__text">EN</p>
          <textarea type="text" class="page-admin__input page-admin__text-area input sundmused<%= a + 1 %>LoikEn" id="sundmused<%= a + 1 %>LoikEn<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikEn<%= i + 1 %>"
            rows="1"><%= sundmusedData[a].loigud[i].en %></textarea>
          <button class="page-admin__small-btn sundmusedLoikDeleteBtn sundmused<%= a + 1 %>LoikDeleteBtn" type="button" id="sundmused<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>" name="sundmused<%= a + 1 %>LoikDeleteBtn<%= i + 1 %>">Kustuta</button>
        </div>
        <% } %>
      </div>
      <div class="page-admin__form-box">
        <button class="page-admin__small-btn sundmusedLoikAddBtn" type="button" id="sundmused<%= a + 1 %>LoikAddBtn">+ Lisa rida +</button>
        <button class="page-admin__small-btn sundmusedDeleteBtn" type="button" id="sundmused<%= a + 1 %>DeleteBtn">Kustuta / arhiveeri sündmus</button>
      </div>
      <div class="page-admin__form-box">
      </div>
      <button class="page-admin__btn" type="submit">Salvesta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__btn" id="sundmusedAddBtn">+ Lisa sündmus +</button>
  </div>
</form>
<%- include partials/footer -%>
