<%- include('partials/head', {data: data}); -%>
<%- include('partials/admin-nav', {data: data}); -%>
<%- include('partials/admin-popup', {data: data}); -%>

<h1 class="admin__heading admin__heading--primary">Ajalugu</h1>
  <form action="/api/history/intro" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="historyIntro">
    <h3 class="admin__heading admin__heading--secondary">Sissejuhatav tekst</h3>

      <div class="admin__form-field">
        <div class="admin__input-group">
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EST</h3>
            <div class="admin__input">
              <div class="editor ">
              </div>
            </div>
          </div>
          <div class="admin__input-item">
            <h3 class="admin__heading admin__heading--quarternary">EN</h3>
            <div class="admin__input">
              <div class="editor">
              </div>
            </div>
          </div>
        </div>
        <div class="admin__btn-group">
          <button class="admin__btn" type="submit" name="button" id="historyIntroBtn">Salvesta</button>
        </div>
        </div>
  </form>

  <% for (var i = 0; i < 2; i++) { %>

<form action="/api/history/sections/<%= i + 1 %>" method="post" enctype="application/x-www-form-urlencoded" class="admin__form" id="historySections<%= i + 1 %>">
  <h3 class="admin__heading admin__heading--secondary">Sektsioon <%= i + 1 %></h3>
<div class="admin__form-field">
  <h3 class="admin__heading admin__heading--tertiary">Pealkiri</h3>
  <div class="admin__input-group">
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EST</h3>
      <div class="admin__input admin__input--bold">
        <div class="textInput">
        </div>
      </div>
    </div>
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EN</h3>
      <div class="admin__input admin__input--bold">
        <div class="textInput">
        </div>
      </div>
    </div>
  </div>
  <h3 class="admin__heading admin__heading--tertiary">Sisu</h3>
  <div class="admin__input-group">
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EST</h3>
      <div class="admin__input">
        <div class="editor">
        </div>
      </div>
    </div>
    <div class="admin__input-item">
      <h3 class="admin__heading admin__heading--quarternary">EN</h3>
      <div class="admin__input">
        <div class="editor">
        </div>
      </div>
    </div>
  </div>
  <div class="admin__btn-group">
    <button class="admin__btn" name="button" id="historySectionsDeleteBtn<%= i + 1 %>">Kustuta</button>
    <button class="admin__btn" type="submit" name="button" id="historySectionsBtn<%= i + 1 %>">Salvesta</button>
  </div>
  </div>
</form>
<% } %>
<button class="admin__btn" name="button" id="historySectionsAddBtn">+ Lisa Sektsioon +</button>

<%- include('partials/footer') -%>
