<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/admin-nav {routeName: routeName} -%>
<%- include partials/admin-popup -%>

<form action="/upload/kontakt" method="post" class="page-admin__form" id="kontakt">
  <h3 class="page-admin__title">Kontaktandmed</h3>
  <div class="page-admin__form-box" id="kontaktSissejuhatusLoikForm">
    <% for (var i = 0; i < kontaktSissejuhatusData.loigud.length; i++) { %>
    <div class="page-admin__form-field kontaktSissejuhatusLoik" id="kontaktSissejuhatusLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading kontaktSissejuhatusLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input kontaktSissejuhatusLoikEst" id="kontaktSissejuhatusLoikEst<%= i + 1 %>" name="kontaktSissejuhatusLoikEst<%= i + 1 %>" rows="1"><%= kontaktSissejuhatusData.loigud[i].est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input kontaktSissejuhatusLoikEn" id="kontaktSissejuhatusLoikEn<%= i + 1 %>" name="kontaktSissejuhatusLoikEn<%= i + 1 %>" rows="1"><%= kontaktSissejuhatusData.loigud[i].en %></textarea>
      <button class="page-admin__small-btn deleteBtn kontaktSissejuhatusLoikDeleteBtn" type="button" id="kontaktSissejuhatusLoikDeleteBtn<%= i + 1 %>" name="kontaktSissejuhatusLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="kontaktSissejuhatusLoikAddBtn">+ Lisa sissejuhatav lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <h2 class="page-admin__subtitle">Andmed</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="andmedPealkiriEst" id="andmedPealkiriEst" value="<%= kontaktAndmedData.pealkiri.est %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="andmedPealkiriEn" id="andmedPealkiriEn" value="<%= kontaktAndmedData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="andmedLoikForm">
    <% for (var i = 0; i < kontaktAndmedData.paarid.length; i++) { %>
    <div class="page-admin__form-field andmedLoik" id="andmedLoik<%= i + 1 %>" data-heading="Teave">
      <h3 class="page-admin__heading andmedLoikHeading">Teave <%= i + 1 %></h3>
      <p class="page-admin__text">VÕTI EST</p>
      <input class="page-admin__input input andmedLoikEstKey" type="text" id="andmedLoikEstKey<%= i + 1 %>" name="andmedLoikEstKey<%= i + 1 %>" value="<%= kontaktAndmedData.paarid[i].estKey %>">
      <p class="page-admin__text">VÕTI EN</p>
      <input class="page-admin__input input andmedLoikEnKey" type="text" id="andmedLoikEnKey<%= i + 1 %>" name="andmedLoikEnKey<%= i + 1 %>" value="<%= kontaktAndmedData.paarid[i].enKey %>">
      <p class="page-admin__text u-margin-top-big">TEAVE EST</p>
      <input class="page-admin__input input andmedLoikEst" type="text" id="andmedLoikEst<%= i + 1 %>" name="andmedLoikEst<%= i + 1 %>" value="<%= kontaktAndmedData.paarid[i].est %>">
      <p class="page-admin__text">TEAVE EN</p>
      <input class="page-admin__input input andmedLoikEn" type="text" id="andmedLoikEn<%= i + 1 %>" name="andmedLoikEn<%= i + 1 %>" value="<%= kontaktAndmedData.paarid[i].en %>">
      <button class="page-admin__small-btn deleteBtn andmedLoikDeleteBtn" type="button" id="andmedLoikDeleteBtn<%= i + 1 %>" name="andmedLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="andmedLoikAddBtn">+ Lisa teave +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <h2 class="page-admin__subtitle">Telefoninumbrid</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="numbridPealkiriEst" id="numbridPealkiriEst" value="<%= kontaktNumbridData.pealkiri.est %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="numbridPealkiriEn" id="numbridPealkiriEn" value="<%= kontaktNumbridData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="numbridLoikForm">
    <% for (var i = 0; i < kontaktNumbridData.numbrid.length; i++) { %>
    <div class="page-admin__form-field numbridLoik" id="numbridLoik<%= i + 1 %>" data-heading="Telefoninumber">
      <h3 class="page-admin__heading numbridLoikHeading">Telefoninumber <%= i + 1 %></h3>
      <p class="page-admin__text">KONTAKTISIK EST</p>
      <input class="page-admin__input input numbridLoikEstKey" type="text" id="numbridLoikEstKey<%= i + 1 %>" name="numbridLoikEstKey<%= i + 1 %>" value="<%= kontaktNumbridData.numbrid[i].estKey %>">
      <p class="page-admin__text">KONTAKTISIK EN</p>
      <input class="page-admin__input input numbridLoikEnKey" type="text" id="numbridLoikEnKey<%= i + 1 %>" name="numbridLoikEnKey<%= i + 1 %>" value="<%= kontaktNumbridData.numbrid[i].enKey %>">
      <p class="page-admin__text">NUMBER</p>
      <input class="page-admin__input input numbridLoikNumber" type="text" id="numbridLoikNumber<%= i + 1 %>" name="numbridLoikNumber<%= i + 1 %>" value="<%= kontaktNumbridData.numbrid[i].number %>">
      <button class="page-admin__small-btn deleteBtn numbridLoikDeleteBtn" type="button" id="numbridLoikDeleteBtn<%= i + 1 %>" name="numbridLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="numbridLoikAddBtn">+ Lisa telefoninumber +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <h2 class="page-admin__subtitle">MTÜ andmed</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="mtuPealkiriEst" id="mtuPealkiriEst" value="<%= kontaktMtuData.pealkiri.est %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="mtuPealkiriEn" id="mtuPealkiriEn" value="<%= kontaktMtuData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="mtuLoikForm">
    <% for (var i = 0; i < kontaktMtuData.paarid.length; i++) { %>
    <div class="page-admin__form-field mtuLoik" id="mtuLoik<%= i + 1 %>" data-heading="Teave">
      <h3 class="page-admin__heading mtuLoikHeading">Teave <%= i + 1 %></h3>
      <p class="page-admin__text">VÕTI EST</p>
      <input class="page-admin__input input mtuLoikEstKey" type="text" id="mtuLoikEstKey<%= i + 1 %>" name="mtuLoikEstKey<%= i + 1 %>" value="<%= kontaktMtuData.paarid[i].estKey %>">
      <p class="page-admin__text">VÕTI EN</p>
      <input class="page-admin__input input mtuLoikEnKey" type="text" id="mtuLoikEnKey<%= i + 1 %>" name="mtuLoikEnKey<%= i + 1 %>" value="<%= kontaktMtuData.paarid[i].enKey %>">
      <p class="page-admin__text u-margin-top-big">TEAVE EST</p>
      <input class="page-admin__input input mtuLoikEst" type="text" id="mtuLoikEst<%= i + 1 %>" name="mtuLoikEst<%= i + 1 %>" value="<%= kontaktMtuData.paarid[i].est %>">
      <p class="page-admin__text">TEAVE EN</p>
      <input class="page-admin__input input mtuLoikEn" type="text" id="mtuLoikEn<%= i + 1 %>" name="mtuLoikEn<%= i + 1 %>" value="<%= kontaktMtuData.paarid[i].en %>">
      <button class="page-admin__small-btn deleteBtn mtuLoikDeleteBtn" type="button" id="mtuLoikDeleteBtn<%= i + 1 %>" name="mtuLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="mtuLoikAddBtn">+ Lisa teave +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <h2 class="page-admin__subtitle">Üldine</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="uldinePealkiriEst" id="uldinePealkiriEst" value="<%= kontaktUldineData.pealkiri.est %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="uldinePealkiriEn" id="uldinePealkiriEn" value="<%= kontaktUldineData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="uldineLoikForm">
    <% for (var i = 0; i < kontaktUldineData.loigud.length; i++) { %>
    <div class="page-admin__form-field uldineLoik" id="uldineLoik<%= i + 1 %>" data-heading="Lõik">
      <h3 class="page-admin__heading uldineLoikHeading">Lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input uldineLoikEst" id="uldineLoikEst<%= i + 1 %>" name="uldineLoikEst<%= i + 1 %>" rows="1"><%= kontaktUldineData.loigud[i].est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input uldineLoikEn" id="uldineLoikEn<%= i + 1 %>" name="uldineLoikEn<%= i + 1 %>" rows="1"><%= kontaktUldineData.loigud[i].en %></textarea>
      <button class="page-admin__small-btn deleteBtn uldineLoikDeleteBtn" type="button" id="uldineLoikDeleteBtn<%= i + 1 %>" name="uldineLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="uldineLoikAddBtn">+ Lisa lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
</form>
<form action="/upload/vastuvott" method="post" class="page-admin__form" id="vastuvott">
  <h3 class="page-admin__title">Vastuvõtt</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="vastuvottPealkiriEst" id="vastuvottPealkiriEst" value="<%= %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="vastuvottPealkiriEn" id="vastuvottPealkiriEn" value="<%=  %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="vastuvottLoikForm">
    <% for (var i = 0; i < vastuvottTekstidData.loigud.length; i++) { %>
    <div class="page-admin__form-field vastuvottLoik" id="vastuvottLoik<%= i + 1 %>" data-heading="Sissejuhatav lõik">
      <h3 class="page-admin__heading vastuvottLoikHeading">Sissejuhatav lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input vastuvottLoikEst" id="vastuvottLoikEst<%= i + 1 %>" name="vastuvottLoikEst<%= i + 1 %>" rows="1"><%= vastuvottTekstidData.loigud[i].est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea type="text" class="page-admin__input page-admin__text-area input vastuvottLoikEn" id="vastuvottLoikEn<%= i + 1 %>" name="vastuvottLoikEn<%= i + 1 %>" rows="1"><%= vastuvottTekstidData.loigud[i].en %></textarea>
      <button class="page-admin__small-btn deleteBtn vastuvottLoikDeleteBtn" type="button" id="vastuvottLoikDeleteBtn<%= i + 1 %>" name="vastuvottLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="vastuvottLoikAddBtn">+ Lisa sissejuhatav lõik +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
  <h2 class="page-admin__subtitle">Ankeet</h2>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" name="ankeetPealkiriEst" id="ankeetPealkiriEst" value="<%= vastuvottAnkeetData.pealkiri.est  %>">
      <p class="page-admin__text">EN </p>
      <input type="text" class="page-admin__input input" name="ankeetPealkiriEn" id="ankeetPealkiriEn" value="<%= vastuvottAnkeetData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__instruction-box">
    <p class="page-admin__heading"><strong>NB!</strong></p>
    <p class="page-admin__small-text"><strong>Kustutades ankeedilt välja, kustuvad vastavad registrid ka andmebaasist!</strong></p>
</div>
  <div class="page-admin__form-box" id="ankeetLoikForm">
    <% for (var i = 0; i < vastuvottAnkeetData.valjad.length; i++) { %>
    <div class="page-admin__form-field ankeetLoik" id="ankeetLoik<%= i + 1 %>" data-heading="Väli">
      <h3 class="page-admin__heading ankeetLoikHeading">Väli <%= i + 1 %></h3>
      <p class="page-admin__text u-margin-top-big">EST</p>
      <input class="page-admin__input input ankeetLoikEst" type="text" id="ankeetLoikEst<%= i + 1 %>" name="ankeetLoikEst<%= i + 1 %>" value="<%= vastuvottAnkeetData.valjad[i].est %>">
      <p class="page-admin__text">EN</p>
      <input class="page-admin__input input ankeetLoikEn" type="text" id="andkeetLoikEn<%= i + 1 %>" name="ankeetLoikEn<%= i + 1 %>" value="<%= vastuvottAnkeetData.valjad[i].en %>">
      <button class="page-admin__small-btn deleteBtn ankeetLoikDeleteBtn" type="button" id="ankeetLoikDeleteBtn<%= i + 1 %>" name="ankeetLoikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="ankeetLoikAddBtn">+ Lisa väli +</button>
  </div>
  <button class="page-admin__btn" type="submit" name="button">Salvesta</button>
</form>

<%- include partials/footer -%>
