<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/admin-nav -%>
<%- include partials/admin-popup {sissejuhatusData: sissejuhatusData} -%>
<form action="/upload/sissejuhatus" method="post" enctype="multipart/form-data" class="page-admin__form" id="kooristSissejuhatus">
  <h3 class="page-admin__title">Sissejuhatus</h3>
  <div class="page-admin__form-box">
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Avapilt</h3>
      <input type="file" id="avapilt" name="avapilt" class="page-admin__hidden-input file">
      <label for="avapilt" class="page-admin__small-btn" id="avapiltLabel">Vali fail</label>
      <p class="page-admin__input-placeholder" id="avapiltPlaceholder"></p>
      <img class="page-admin__icon" src="<%= avapilt.url %>" id="avapiltImg" alt="Avapilt">
    </div>
    <div class="page-admin__form-field">
      <h3 class="page-admin__heading">Pealkiri</h3>
      <p class="page-admin__text">EST</p>
      <input type="text" class="page-admin__input input" id="pealkiriEst" name="pealkiriEst" value="<%= sissejuhatusData.pealkiri.est %>">
      <p class="page-admin__text">EN</p>
      <input type="text" class="page-admin__input input" id="pealkiriEn" name="pealkiriEn" value="<%= sissejuhatusData.pealkiri.en %>">
    </div>
  </div>
  <div class="page-admin__form-box" id="loik-form">
    <% for (var i = 0; i < sissejuhatusData.loigud.length; i++) { %>
    <div class="page-admin__form-field loik" id="loik<%= i + 1 %>" data-heading="Lõik">
      <h3 class="page-admin__heading loik-heading">Lõik <%= i + 1 %></h3>
      <p class="page-admin__text">EST</p>
      <textarea class="page-admin__input page-admin__text-area input loik-input-est" id="loikEst<%= i + 1 %>" name="loikEst<%= i + 1 %>" rows="1"><%= sissejuhatusData.loigud[i].est %></textarea>
      <p class="page-admin__text">EN</p>
      <textarea class="page-admin__input page-admin__text-area input loik-input-en" id="loikEn<%= i + 1 %>" name="loikEn<%= i + 1 %>" rows="1"><%= sissejuhatusData.loigud[i].en %></textarea>
      <button class="page-admin__small-btn loik-delete-btn" type="button" id="loikDeleteBtn<%= i + 1 %>" name="loikDeleteBtn<%= i + 1 %>">Kustuta</button>
    </div>
    <% } %>
  </div>
  <div class="page-admin__form-box">
    <button class="page-admin__small-btn" type="button" id="loikAddBtn">Lisa lõik</button>
  </div>
  <button class="page-admin__btn" type="submit" id="kooristSissejuhatusBtn">Salvesta</button>
</form>
<%- include partials/footer -%>
