<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="logo">
  <img class="logo__img" src="img/logo-lilla.png" alt="logo">
</div>
<div class="popup show" id="popup">
  <div class="popup__form">
    <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeuzEaVgkRN1W4aoT9HQeEZ4JGaQ4Q76QOq6_eOQZ_JqHwfKw/formResponse" method="post" id="popup-form">
      <p class="popup__btn" id="popup-button">&#10006;</p>
      <h3 class="heading--tertiary heading--white u-margin-bottom-small"><%= avalehtHupikakenData[0].est %></h3>
      <% for (var i = 1; i < avalehtHupikakenData.length; i++) { %>
        <input class="form__input" type="text" name="" placeholder="<%= avalehtHupikakenData[i].est %>" required value="">
    <% } %>
      <button class="btn btn--main u-margin-top-small" type="submit" name="submit">Saada</button>
    </form>
  </div>
</div>
<header class="header" id="header">
  <div class="header__heading-box">
    <h1 class="heading--purple heading--primary"><%= avalehtTekstidData.suurPealkiri.est %></h1>
    <p class="paragraph--large paragraph--purple header__paragraph"><%= avalehtTekstidData.jatkuPealkiri.est %></p>
    <a href="/koorist" class="btn btn--main">Loe edasi</a>
  </div>
</header>
<main class="homepage__container">
  <section class="section-features" id="section-features">
    <div class="section-features__container">
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/koorist#section-liikmed">
            <i class="fas fa-music section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Liikmed</h3>
          </a>
        </div>
      </div>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/vastuvott">
            <i class="fas fa-user section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Vastuv천tt</h3>
          </a>
        </div>
      </div>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/kontakt">
            <i class="fas fa-envelope section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Kontakt</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-events" id="section-events">
    <div class="section-events__heading-box">
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri1.est %></h2>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst1.est %></p>
    </div>
    <div class="section-events__container">
      <div class="error-message">
        <h3 class="heading--purple heading--tertiary u-margin-bottom-big">Oh sa mu meie!</h3>
        <p class="paragraph--large paragraph--purple">Kahjuks pole l채hiajal tulekul 체htki s체ndmust.</p>
      </div>
      <div class="card card--1">
        <div class="card__upper card__upper--1">
        </div>
        <div class="card__lower">
          <h3 class="heading--white heading--tertiary">Noorus 60</h3>
          <a href="/sundmused#1" class="btn btn--main">Loe edasi</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-history" id="section-history">
    <div class="section-history__container">
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri2.est %></h2>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst2.est %></p>
      <a href="/sundmused#moodunud-sundmused" class="btn btn--main">Loe edasi</a>
    </div>
  </section>
</main>
<%- include partials/footnav -%>
<%- include partials/footer -%>
