<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<%- include partials/popup -%>
<div class="logo">
  <img class="logo__img" src="<%= avalehtPildidData.avalehtLogo.url %>" alt="Segakoor Nooruse logo">
</div>
<header class="header" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('<%= avalehtPildidData.avalehtTaustapilt.url %>')">
  <div class="header__heading-box">
    <h1 class="heading--purple heading--primary"><%= avalehtTekstidData.suurPealkiri.est %></h1>
    <p class="paragraph--large paragraph--purple header__paragraph"><%= avalehtTekstidData.jatkuPealkiri.est %></p>
    <a href="/koorist" class="btn btn--main btn--dark u-margin-top-small">Loe edasi</a>
  </div>
</header>
<main class="homepage__container">
  <section class="section-features" id="section-features">
    <div class="section-features__container">
        <% if (pealkirjadData[1].est !== "") { %>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/koorist#section-liikmed">
            <i class="fas fa-music section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary"><%= pealkirjadData[1].est %></h3>
          </a>
        </div>
      </div>
      <% } %>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/pood">
            <i class="fas fa-shopping-cart section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Pood</h3>
          </a>
        </div>
      </div>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/kontakt">
            <i class="fas fa-envelope section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Kontakt</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
  <% if (sundmusedData.length !== 0) { %>
  <section class="section-events" id="section-events">
    <div class="section-events__heading-box">
      <% if (avalehtTekstidData.sektsiooniPealkiri1.est !== "") { %>
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri1.est %></h2>
      <% } %>
      <% if (avalehtTekstidData.sektsiooniTekst1.est !== "") { %>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst1.est %></p>
      <% } %>
    </div>
    <div class="section-events__container">
      <% for (var a = 0; a < sundmusedData.length && a < 3; a++) { %>
      <div class="card">
        <div class="card__upper" <% if (plakatid[a].url !== "") { %> style="background-image: url( <%= plakatid[a].url %>);"<% } %>>
        </div>
        <div class="card__lower">
          <h3 class="heading--purple heading--tertiary u-margin-bottom-big"><%= sundmusedData[a].pealkiri.est %></h3>
          <a href="/sundmused#<%= a + 1 %>" class="btn btn--main btn--dark">Loe edasi</a>
        </div>
      </div>
      <% } %>
    </div>
  </section>
  <% } %>
  <section class="section-history" id="section-history">
    <% if (moodunudData.length !== 0) { %>
    <div class="section-history__container">
      <% if (avalehtTekstidData.sektsiooniPealkiri2.est !== "") { %>
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri2.est %></h2>
      <% } %>
      <% if (avalehtTekstidData.sektsiooniTekst2.est !== "") { %>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst2.est %></p>
      <% } %>
      <a href="/sundmused#moodunud-sundmused" class="btn btn--main btn--dark">Loe edasi</a>
    </div>
      <% } %>
  </section>
</main>
<%- include partials/footnav -%>
<%- include partials/footer -%>
