<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<div class="contact">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.pageInfo.PageTitle %></h2>
  <div class="contact__text-box">
    <% if (data.intros[8].content) { %>
    <div class="contact__content">
      <div>
        <%- data.intros[8].content %>
      </div>
    </div>
    <% } %>
    <% for (var i = 0; i < data.contactSections.length; i++) { %>
    <div class="contact__segment">
      <% if (data.contactSections[i].heading) { %>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.contactSections[i].heading %></h3>
      <% } %>
      <% if (data.contactSections[i].content) { %>
      <div class="contact__content">
        <div>
          <%- data.contactSections[i].content %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% if (data.contactForm.length) { %>
  <div class="contact__text-box">
    <form action="/upload/kontakt/email" method="post" class="form" name="contactForm" id="contactForm">
      <% if (data.miscellaneous[0].content) { %>
      <h3 class="heading--tertiary heading--purple u-margin-bottom-small"><%= data.miscellaneous[0].content %></h3>
      <% } %>
      <div class="form__column">
        <% for (var i = 0; i < data.contactForm.length; i++) { %>
        <div class="form__field">
          <p class="paragraph--small paragraph--purple paragraph--inline u-margin-right-small"><%= data.contactForm[i].checked %></p>
          <% if (data.contactForm[i].textArea === "*") { %>
          <textarea class="form__input form__text-area contactFormField" id="contactFormField<%= i + 1 %>" name="contactFormField<%= i + 1 %>" rows="1" placeholder="<%= data.contactForm[i].content %>"
            <% if (data.contactForm[i].checked === "*") { %> required <% } %> aria-label="<%= data.contactForm[i].content %>"></textarea>
          <% }  else { %>
          <input type="text" class="form__input contactFormField" id="contactFormField<%= i + 1 %>" name="contactFormField<%= i + 1 %>" placeholder="<%= data.contactForm[i].content %>" <% if (data.contactForm[i].checked === "*") { %>
            required <% } %> aria-label="<%= data.contactForm[i].content %>">
          <% } %>
        </div>
        <% } %>
      </div>
      <button class="btn btn--main btn--dark u-margin-top-small" type="submit" name="submitContactBtn"><%= data.pageInfo.miscellaneous[0] %></button>
    </form>
  </div>
  <% } %>
</div>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
