<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>


<main class="contact">


  <section class="section">

    <div class="container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.pageTitle %></h2>
      <% if (data.intros[7][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[7][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.contactSections.length; i++) { %>
    <div class="container">
      <% if (data.contactSections[i].heading[data.language]) { %>
      <h3 class="heading heading--tertiary"><%= data.contactSections[i].heading[data.language] %></h3>
      <% } %>
      <% if (data.contactSections[i].content[data.language]) { %>
      <div class="content">
        <div>
          <%- data.contactSections[i].content[data.language] %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>

  </section>

  <% if (data.contactForm.length) { %>
  <section class="section">

    <form action="/api/forms/contact" class="form" name="form" id="form">

      <% if (data.miscellaneous[0][data.language]) { %>
      <h3 class="heading heading--tertiary"><%= data.miscellaneous[0][data.language] %></h3>
      <% } %>

      <div class="form__body">
        <% for (var i = 0; i < data.contactForm.length; i++) { %>
        <div class="form__field">
          <span class="text"><% if (data.contactForm[i].required === "on") { %> * <% } else { %> &nbsp <% }%> </span>
          <% if (data.contactForm[i].expandable === "on") { %>
          <textarea class="form__input form__text-area contactFormField" id="contactFormField<%= i + 1 %>" name="<%= data.contactForm[i][data.language] %>" rows="1" placeholder="<%= data.contactForm[i][data.language] %>"
            <% if (data.contactForm[i].required === "on") { %> required <% } %> aria-label="<%= data.contactForm[i].content %>"></textarea>
          <% } else { %>
          <input type="text" class="form__input contactFormField" id="contactFormField<%= i + 1 %>" name="<%= data.contactForm[i][data.language] %>" placeholder="<%= data.contactForm[i][data.language] %>" <% if (data.contactForm[i].required === "on") { %>
            required <% } %> aria-label="<%= data.contactForm[i][data.language] %>">
          <% } %>
        </div>
        <% } %>

      </div>

      <button class="btn btn--main" type="submit" name="submitContactBtn" data-action="POST"><%= data.pageInfo.miscellaneous[0] %></button>
    </form>

  </section>

  <% } %>

</main>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
