<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>

<main class="events">


  <section class="section">

    <div class="container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.pageTitle %></h2>
      <% if (data.intros[5][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[5][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.eventsContent.length; i++) { %>
    <div class="container" id="<%= i + 1 %>">
      <img class="events__img" src="<% if (data.eventsImages[i].url) { %>
        <%= data.eventsImages[i].url %>
        <% } else { %> /img/logoga-pilt.jpg <% } %>" alt="<%= data.pageInfo.miscellaneous[0] +" " + (i + 1) %>">
      <div class="events__text-box">
        <h3 class="heading heading--tertiary"><%= data.eventsContent[i].heading[data.language] %></h3>
        <% if (data.eventsContent[i].content[data.language]) { %>
        <div class="content">
          <div>
            <%- data.eventsContent[i].content[data.language] %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </section>


  <% if (data.archiveContent.length) { %>
  <section class="section">

    <div class="container">
      <h2 class="heading heading--secondary"><%= data.pageInfo.miscellaneous[1] %></h2>
      <% if (data.intros[7][data.language]) { %>
      <div class="content">
        <div>
          <%- data.intros[7][data.language] %>
        </div>
      </div>
      <% } %>
    </div>

    <% for (var i = 0; i < data.archiveContent.length; i++) { %>
    <div class="container" id="<%= i + 1 %>">
      <img src="<% if (data.archiveImages[i].url) { %>
        <%= data.archiveImages[i].url %>
        <% } else { %> /img/logoga-pilt.jpg <% } %>" alt="<%= data.pageInfo.miscellaneous[2] + " " + (i + 1) %>" class="events__img events__img--past">
      <div class="events__text-box">
        <h3 class="heading heading--tertiary"><%= data.archiveContent[i].heading[data.language] %></h3>
        <% if (data.archiveContent[i].content[data.language]) { %>
        <div class="content">
          <div>
            <%- data.archiveContent[i].content[data.language] %>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <% } %>
  </section>


  <% } %>
</main>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
