<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<main class="events">
  <section class="events__section">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.pageInfo.PageTitle %></h2>
      <% if (data.intros[6].content) { %>
      <div class="events__content">
        <div>
          <%- data.intros[6].content %>
        </div>
      </div>
      <% } %>
    <% for (var i = 0; i < data.eventsContent.length; i++) { %>
    <div class="events__segment" id="<%= i + 1 %>">
      <img src="<% if (data.eventsImages[i].url) { %>
        <%= data.eventsImages[i].url %>
        <% } else { %> /img/logoga-pilt.jpg <% } %>"
         alt="<%= data.pageInfo.miscellaneous[0] +" " + (i + 1) %>" class="events__img">
      <div class="events__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.eventsContent[i].heading %></h3>
        <% if (data.eventsContent[i].content) { %>
        <div class="events__content">
          <div>
            <%- data.eventsContent[i].content %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </section>
  <% if (data.pastEventsContent.length) { %>
  <section class="past-events__section">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.pageInfo.miscellaneous[1] %></h2>
      <% if (data.intros[7].content) { %>
      <div class="past-events__content">
        <div>
          <%- data.intros[7].content %>
        </div>
      </div>
      <% } %>
    <% for (var i = 0; i < data.pastEventsContent.length; i++) { %>
    <div class="past-events__segment" id="<%= i + 1 %>">
      <img src="<% if (data.pastEventsImages[i].url) { %>
        <%= data.pastEventsImages[i].url %>
        <% } else { %> /img/logoga-pilt.jpg <% } %>"
         alt="<%= data.pageInfo.miscellaneous[2] + " " + (i + 1) %>" class="events__img events__img--past">
      <div class="past-events__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.pastEventsContent[i].heading %></h3>
        <% if (data.pastEventsContent[i].content) { %>
        <div class="past-events__content">
          <div>
            <%- data.pastEventsContent[i].content %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </section>
  <% } %>
</main>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
