<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-sundmused__container">
  <section class="page-sundmused__section">
    <div class="page-sundmused__intro-box">
      <h2 class="heading--secondary heading--purple u-margin-bottom-big">Sündmused</h2>
      <% for (var i = 0; i < sundmusedSissejuhatusData.length; i++) { %>
      <p class="paragraph--large paragraph--purple"><%= sundmusedSissejuhatusData[i].en %></p>
      <% } %>
    </div>
    <% for (var a = 0; a < sundmusedData.length; a++) { %>
    <div class="page-sundmused__event" id="<%= a + 1 %>">
      <img src="<%= plakatid[a].url %>" alt="Sündmus <%= a + 1 %>" class="page-sundmused__img page-sundmused__img--landscape">
      <div class="page-sundmused__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= sundmusedData[a].pealkiri.en %></h3>
        <ul class="list u-margin-bottom-small">
          <% for (var i = 0; i < sundmusedKohtData[a].kohad.length; i++) { %>
          <li class="list__item list__item--large">
            <% if (sundmusedKohtData[a].kohad[i].link !== "") { %> <a class="list__link" href="<%= sundmusedKohtData[a].kohad[i].link %>"><% } %>
              <%= sundmusedKohtData[a].kohad[i].en %>
              <% if (sundmusedKohtData[a].kohad[i].link !== "") { %></a><% } %>
          </li>
          <% } %>
        </ul>
        <ul class="list u-margin-bottom-small">
          <% for (var i = 0; i < sundmusedData[a].loigud.length; i++) { %>
          <li class="list__item list__item--small"><%= sundmusedData[a].loigud[i].en %></li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
  </section>
  <section class="page-sundmused__section" id="past-events">
    <div class="page-sundmused__intro-box">
      <h2 class="heading--secondary heading--purple">Möödunud sündmused</h2>
    </div>
    <% for (var a = 0; a < moodunudData.length; a++) { %>
    <div class="page-sundmused__event" id="past<%= a + 1 %>">
      <img src="<%= moodunudPlakatid[a].url %>" alt="Past event <%= a + 1 %>" class="page-sundmused__img page-sundmused__img--past page-sundmused__img--landscape">
      <div class="page-sundmused__text-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= moodunudData[a].pealkiri.en %></h3>
        <ul class="list u-margin-bottom-small">
          <% for (var i = 0; i < moodunudKohtData[a].kohad.length; i++) { %>
          <li class="list__item list__item--large"><%= moodunudKohtData[a].kohad[i].en %></li>
          <% } %>
        </ul>
        <ul class="list u-margin-bottom-small">
          <% for (var i = 0; i < moodunudData[a].loigud.length; i++) { %>
          <li class="list__item list__item--large"><%= moodunudData[a].loigud[i].en %></li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
  </section>
</div>
<%- include partials/footnav-en -%>
<%- include partials/footer -%>
