<%- include partials/head {data: data} -%>
<%- include partials/navigation {data: data} -%>
<div class="logo">
  <img class="logo__img" src="<%= data.staticImages[1].url %>" alt="<%= data.pageInfo.miscellaneous[0] %>">
</div>
<header class="header" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('<%= data.staticImages[3].url %>')">
  <div class="header__heading-box">
    <h1 class="heading--purple heading--primary"><%= data.staticTextWithHeading[0].heading %></h1>
    <p class="paragraph--large paragraph--purple header__paragraph"><%= data.staticTextWithHeading[0].content %></p>
      <% if (data.staticTextWithHeading[1].heading || data.staticTextWithHeading[1].content) { %>
    <a href="/<%= data.pageInfo.navigation.hrefs[1] %>" class="btn btn--main btn--dark u-margin-top-small"><%= data.pageInfo.buttonText %></a>
    <% } %>
  </div>
</header>
<main class="home__container">
  <section class="home__section-features">
    <div class="home__section-features__container">
        <% if (data.aboutSectionHeadings[1]) { %>
      <div class="home__section-features__column">
        <div class="home__section-features__item">
          <a class="home__section-features__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>">
            <i class="fas fa-music home__section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary"><%= data.aboutSectionHeadings[1] %></h3>
          </a>
        </div>
      </div>
      <% } %>
      <div class="home__section-features__column">
        <div class="home__section-features__item">
          <a class="home__section-features__link" href="/<%= data.pageInfo.navigation.hrefs.links[4] %>">
            <i class="fas fa-shopping-cart section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary"><%= data.pageInfo.navigation.linkTexts[3] %></h3>
          </a>
        </div>
      </div>
      <div class="home_section-features__column">
        <div class="home_section-features__item">
          <a class="home_section-features__link" href="/<%= data.pageInfo.navigation.hrefs.links[3] %>">
            <i class="fas fa-envelope home_section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary"><%= data.pageInfo.navigation.linkTexts[2] %></h3>
          </a>
        </div>
      </div>
    </div>
  </section>
  <% if (data.eventsContent.length) { %>
  <section class="home__section-events">
    <div class="home_section-events__heading-box">
      <% if (data.staticTextWithHeading[1].heading) { %>
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= data.staticTextWithHeading[1].heading %></h2>
      <% } %>
      <% if (data.staticTextWithHeading[1].content) { %>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= data.staticTextWithHeading[1].content %></p>
      <% } %>
    </div>
    <div class="home__section-events__container">
      <% for (var i = 0; i < data.eventsContent.length && i < 3; i++) { %>
      <div class="card">
        <div class="card__upper" <% if (data.eventsImages[i].url) { %> style="background-image: url( <%= data.eventsImages[i].url %>);"<% } %>>
        </div>
        <div class="card__lower">
          <h3 class="heading--purple heading--tertiary u-margin-bottom-big"><%= data.eventsContent[a].heading %></h3>
          <a href="/#<%= i + 1 %>" class="btn btn--main btn--dark"><%= data.pageInfo.buttonText %></a>
        </div>
      </div>
      <% } %>
    </div>
  </section>
  <% } %>
  <section class="home__section-past">
    <% if (data.pastEventsContent.length) { %>
    <div class="home__section-past__container">
      <% if (data.staticTextWithHeading[2].heading) { %>
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= data.staticTextWithHeading[2].heading %></h2>
      <% } %>
      <% if (data.staticTextWithHeading[2].content) { %>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= data.staticTextWithHeading[2].content %></p>
      <% } %>
      <a href="/<%= data.pageInfo.miscellaneous[1] %>" class="btn btn--main btn--dark"><%= data.pageInfo.buttonText %></a>
    </div>
      <% } %>
  </section>
</main>
<%- include partials/footnav {data: data} -%>
<%- include partials/footer -%>
