<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<%- include partials/popup-en -%>
<div class="logo">
  <img class="logo__img" src="<%= avalehtPildidData.avalehtLogo.url %>" alt="The logo of Mixed choir Noorus">
</div>
<header class="header" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('<%= avalehtPildidData.avalehtTaustapilt.url %>')">
  <div class="header__heading-box">
    <h1 class="heading--purple heading--primary"><%= avalehtTekstidData.suurPealkiri.en %></h1>
    <p class="paragraph--large paragraph--purple header__paragraph"><%= avalehtTekstidData.jatkuPealkiri.en %></p>
    <a href="/en/about-us" class="btn btn--main">Read more</a>
  </div>
</header>
<main class="homepage__container">
  <section class="section-features">
    <div class="section-features__container">
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/en/about-us#section-members">
            <i class="fas fa-music section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Members</h3>
          </a>
        </div>
      </div>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/en/join-us">
            <i class="fas fa-user section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Join us</h3>
          </a>
        </div>
      </div>
      <div class="section-features__column">
        <div class="section-features__item">
          <a class="section-features__link" href="/en/contact">
            <i class="fas fa-envelope section-features__icon"></i>
            <h3 class="heading--purple heading--tertiary">Contact</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-events">
    <div class="section-events__heading-box">
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri1.en %></h2>
      <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst1.en %></p>
    </div>
    <div class="section-events__container">
      <div class="error-message">
        <h3 class="heading--purple heading--tertiary u-margin-bottom-big">Oh darn!</h3>
        <p class="paragraph--large paragraph--purple">Unfortunately there are no events to show at the moment.</p>
      </div>
      <div class="card card--1">
        <div class="card__upper card__upper--1">
        </div>
        <div class="card__lower">
          <h3 class="heading--white heading--tertiary">Noorus 60</h3>
          <a href="/en/events#1" class="btn btn--main">Read more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-history" id="section-history">
    <div class="section-history__container">
      <h2 class="heading--purple heading--secondary u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniPealkiri2.en %></h2>
      <p class="paragraph--large paragraph--purple header__paragraph u-margin-bottom-big"><%= avalehtTekstidData.sektsiooniTekst2.en %></p>
      <a href="/en/events#past-events" class="btn btn--main">Read more</a>
    </div>
  </section>
</main>
<%- include partials/footnav-en -%>
<%- include partials/footer -%>
