<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<%- include('partials/logo', {data: data}); -%>

<header class="header" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('<%= data.staticImages[2].url %>')">
  <div class="header__heading-box">
    <h1 class="heading heading--primary"><%= data.staticSections[0].heading[data.language] %></h1>
    <p class="text"><strong><%= data.staticSections[0].content[data.language] %></strong></p>
      <% if (data.staticSections[1].heading[data.language] || data.staticSections[1].content[data.language]) { %>
    <a href="/<%= data.pageInfo.navigation.hrefs[1] %>" class="btn btn--main btn--dark"><%= data.pageInfo.buttonText %></a>
    <% } %>
  </div>
</header>

<main class="home">

  <section class="section">

    <div class="column-container">

      <div class="column">
        <div class="home__item">
          <a class="home__link" href="/<%= data.pageInfo.navigation.hrefs.dropdown[0] %>">
            <i class="fas fa-music home__icon"></i>
            <h3 class="heading heading--tertiary"><%= data.pageInfo.aboutSubheadings[1] %></h3>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="home__item">
          <a class="home__link" href="/<%= data.pageInfo.navigation.hrefs.links[4] %>">
            <i class="fas fa-shopping-cart home__icon"></i>
            <h3 class="heading heading--tertiary"><%= data.pageInfo.navigation.linkTexts[3] %></h3>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="home__item">
          <a class="home__link" href="/<%= data.pageInfo.navigation.hrefs.links[3] %>">
            <i class="fas fa-envelope home__icon"></i>
            <h3 class="heading heading--tertiary"><%= data.pageInfo.navigation.linkTexts[2] %></h3>
          </a>
        </div>
      </div>
    </div>

  </section>


  <% if (data.eventsContent.length) { %>
  <section class="section">

    <div class="container">
      <% if (data.staticSections[1].heading[data.language]) { %>
      <h2 class="heading heading--secondary"><%= data.staticSections[1].heading[data.language] %></h2>
      <% } %>
        <% if (data.staticSections[1].content[data.language]) { %>
        <div class="content">
          <div>
            <%- data.staticSections[1].content[data.language] %>
          </div>
        </div>
        <% } %>
    </div>

    <div class="column-container">
      <% for (var i = 0; i < data.eventsContent.length && i < 3; i++) { %>
      <div class="card">
        <div class="card__upper" <% if (data.eventsImages[i].url) { %> style="background-image: url( <%= data.eventsImages[i].url %>);"<% } %>>
        </div>
        <div class="card__lower">
          <h3 class="heading heading--tertiary"><%= data.eventsContent[i].heading[data.language] %></h3>
          <a href="/#<%= i + 1 %>" class="btn btn--main btn--dark"><%= data.pageInfo.buttonText %></a>
        </div>
      </div>
      <% } %>
    </div>

  </section>


  <% } %>
  <section class="section">

    <% if (data.archiveContent.length) { %>
    <div class="container">
      <% if (data.staticSections[2].heading[data.language]) { %>
      <h2 class="heading heading--secondary"><%= data.staticSections[2].heading[data.language] %></h2>
      <% } %>
          <% if (data.staticSections[2].content[data.language]) { %>
          <div class="content">
            <div>
              <%- data.staticSections[2].content[data.language] %>
            </div>
          </div>
          <% } %>
      <a href="/<%= data.pageInfo.miscellaneous[1] %>" class="btn btn--main btn--dark"><%= data.pageInfo.buttonText %></a>
    </div>
      <% } %>

  </section>


</main>

<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
