<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-vastuvott__container">
  <div class="page-vastuvott__text-box">
    <h2 class="heading--secondary heading--purple u-margin-bottom-big">Vastuvõtt</h2>
    <% for (var i = 0; i < vastuvottTekstidData.length; i++) { %>
    <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= vastuvottTekstidData[i].en %></p>
    <% } %>
  </div>
  <div class="page-vastuvott__form-box">
    <form action="" class="form" name="vastuvott">
      <h3 class="heading--tertiary heading--white u-margin-bottom-big">Liitu kooriga!</h3>
      <% for (var i = 0; i < vastuvottAnkeetData.valjad.length; i++) { %>
      <textarea class="form__input form__text-area" id="text-area" name="entry.887993234" rows="1" placeholder="<%= vastuvottAnkeetData.valjad[i].en %>" required aria-label="<%= vastuvottAnkeetData.valjad[i].en %>"></textarea>
      <% } %>
      <button class="btn btn--main btn--dark u-margin-top-big" type="submit" name="submit">Send</button>
    </form>
  </div>
</div>
<%- include partials/footer -%>
