<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="page-kontakt__content">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big">Kontakt</h2>
  <div class="page-kontakt__container">
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= kontaktUldineData.pealkiri.est %></h3>
        <% for (var i = 0; i < kontaktUldineData.loigud.length; i++) { %>
        <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= kontaktUldineData.loigud[i].est %></p>
        <% } %>
      </div>
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= kontaktAndmedData.pealkiri.est %></h3>
        <ul class="list">
          <% for (var i = 0; i < kontaktAndmedData.paarid.length; i++) { %>
          <li class="list__item"><strong><%= kontaktAndmedData.paarid[i].estKey %>:</strong> <%= kontaktAndmedData.paarid[i].est %></li>
          <% } %>
        </ul>
      </div>
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= kontaktNumbridData.pealkiri.est %></h3>
        <ul class="list">
          <% for (var i = 0; i < kontaktNumbridData.numbrid.length; i++) { %>
          <li class="list__item"><strong><%= kontaktNumbridData.numbrid[i].estKey %>:</strong> <%= kontaktNumbridData.numbrid[i].number %></li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="page-kontakt__text-box">
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= kontaktMtuData.pealkiri.est %></h3>
        <ul class="list">
          <% for (var i = 0; i < kontaktMtuData.paarid.length; i++) { %>
          <li class="list__item"><strong><%= kontaktMtuData.paarid[i].estKey %>:</strong> <%= kontaktMtuData.paarid[i].est %></li>
          <% } %>
        </ul>
      </div>
      <div class="page-kontakt__small-box">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= kontaktIkoonidData.pealkiri.est %></h3>
        <div class="page-kontakt__icons">
          <% for (var i = 0; i < kontaktIkoonidData.ikoonid.length; i++) { %>
          <a href="<%= kontaktIkoonidData.ikoonid[i].link %>" class="page-kontakt__link" aria-label="Facebooki link">
            <i class="<%= kontaktIkoonidData.ikoonid[i].ikoon %> page-kontakt__icon"></i>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer -%>
