<%- include('partials/head', {data: data}); -%>

<body>
<main class="message centered">
  <div class="message__container">
    <h2 class="heading heading--secondary"><%= data.pageInfo.miscellaneous[data.page][0] %></h2>
      <p class="text"><strong><%= data.pageInfo.miscellaneous[data.page][1] %></strong></p>
      <a href="/<%= data.pageInfo.miscellaneous[data.page][2] %>" class="btn btn--main"><%= data.pageInfo.miscellaneous[data.page][3] %></a>
  </div>
</main>
</body>

<%- include('partials/footer'); -%>
