<%- include partials/head-en {pageTitle: pageTitle} -%>
<%- include partials/navigation-en {currentPage: currentPage} -%>
<div class="page-pood__container">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big">Shop</h2>
  <% for (var i = 0; i < poodSissejuhatusData.loigud.length; i++) { %>
  <p class="paragraph--small paragraph--purple u-margin-bottom-small"><%- poodSissejuhatusData.loigud[i].en %></p>
  <% } %>
  <% for (var a = 0; a < poodData.length; a++) { %>
  <div class="page-pood__content-box" id="contentBox<%= a + 1 %>">
    <div class="page-pood__img" style="background-image: url('<%= pildid[a].url %>');">
    </div>
    <div class="page-pood__text-wrapper">
      <div class="page-pood__text-box low-fixed-height textBox" id="textBox<%= a + 1 %>">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= poodData[a].toode.en %></h3>
        <% for (var i = 0; i < poodData[a].loigud.length; i++) { %>
        <p class="paragraph--small paragraph--purple u-margin-bottom-big"><%- poodData[a].loigud[i].en %></p>
        <% } %>
        <% if (nimistuData[a].read.length !== 0) { %>
        <ul class="list">
          <% for (var i = 0; i < nimistuData[a].read.length; i++) { %>
          <li class="list__item list__item--track"><%- nimistuData[a].read[i].en %></li>
          <% } %>
        </ul>
        <% } %>
      </div>
      <div class="page-pood__link-box">
        <a class="paragraph--large link link--purple delete linkBtn" href="#contentBox<%= a + 1 %>" id="linkBtn<%= a + 1 %>">Read more...</a>
      </div>
      <div class="page-pood__btn-box">
        <p class="page-pood__price heading--tertiary heading--purple"><strong><%= poodData[a].toode.price %> €</strong></p>
        <a href="" class="btn btn--main btn--dark orderBtn" id="orderBtn<%= a + 1 %>" data-language="en">Order here</a>
      </div>
    </div>
  </div>
  <% } %>
</div>
<%- include partials/footer -%>
