<%- include('partials/head', {data: data}); -%>
<%- include('partials/navigation', {data: data}); -%>
<div class="shop">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big"><%= data.pageInfo.pageTitle %></h2>

  <% if (data.intros[9].content) { %>
  <div class="shop__content">
    <div>
      <%- data.intros[9].content %>
    </div>
  </div>
  <% } %>
  <% for (var i = 0; i < data.shopItems.length; i++) { %>
  <div class="shop__content-box" id="contentBox<%= i + 1 %>">
    <div class="shop__img" style="background-image: url('<%= data.shopImages[i].url %>');">
    </div>
    <div class="shop__text-wrapper">
      <div class="shop__text-box low-fixed-height textBox" id="textBox<%= a + 1 %>">
        <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.shopItems[i].heading %></h3>
        <div class="shop__segment">
          <% if (data.shopItems[i].heading) { %>
          <h3 class="heading--tertiary heading--purple u-margin-bottom-big"><%= data.shopItems[i].heading %></h3>
          <% } %>
          <% if (data.shopItems[i].content) { %>
          <div class="shop__content">
            <div>
              <%- data.shopItems[i].content %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="shop__link-box">
        <a class="paragraph--large link link--purple delete linkBtn" href="#contentBox<%= i + 1 %>" id="linkBtn<%= i + 1 %>"><%= data.pageInfo.miscellaneous[0] %></a>
      </div>
      <div class="shop__btn-box">
        <p class="shop__price heading--tertiary heading--purple"><strong><%= data.shopItems[i].price %> €</strong></p>
        <a href="" class="btn btn--main btn--dark orderBtn" id="orderBtn<%= i + 1 %>" data-language="<%= data.language %>"><%= data.pageInfo.miscellaneous[1] %></a>
      </div>
    </div>
  </div>
  <% } %>
</div>
<%- include('partials/footnav', {data: data}); -%>
<%- include('partials/footer'); -%>
