<%- include partials/head {pageTitle: pageTitle} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="page-telli__container">
  <h2 class="heading--secondary heading--purple u-margin-bottom-big">Telli</h2>
  <% for (var i = 0; i < telliData.loigud.length; i++) { %>
  <p class="paragraph--large paragraph--purple u-margin-bottom-small"><%= telliData.loigud[i].est %></p>
  <% } %>
  <form action="/upload/telli/email" method="post" name="orderForm" id="orderForm">
    <div class="form">
      <div class="page-telli__order-form">
        <div class="page-telli__column">
          <% for (var a = 0; a < poodData.length; a++) { %>
          <a class="paragraph--large link link--purple" href="/pood/#contentBox<%= a + 1 %>"><%= poodData[a].toode.est %></a>
          <% } %>
        </div>
        <div class="page-telli__column">
          <% for (var a = 0; a < poodData.length; a++) { %>
          <div class="page-telli__input-box">
            <a class="link numberBtnMinus" id="numberBtnMinus<%= a + 1 %>" href="#"><i class="fas fa-minus-circle form__number-btn"></i></a>
            <input class="form__input form__number-input itemCount" type="number" min="0" step="1" max="99" name="itemCount<%= a + 1 %>" id="itemCount<%= a + 1 %>" data-price="<%= poodData[a].toode.price %>"
              data-heading="<%= poodData[a].toode.est %>" <% if (number == (a + 1))  {%> value="1" <% } else {%> value="0" <% }%>>
            <a class="link numberBtnPlus" id="numberBtnPlus<%= a + 1 %>" href="#"><i class="fas fa-plus-circle form__number-btn"></i></a>
          </div>
          <% } %>
        </div>
        <div class="page-telli__column">
          <% for (var a = 0; a < poodData.length; a++) { %>
          <p class="paragraph--large paragraph--grey price" data-price="<%= poodData[a].toode.price %>" id="price<%= a + 1 %>"><%= poodData[a].toode.price %> €</p>
          <% } %>
        </div>
      </div>
      <div class="page-telli__sum-box">
        <h2 class="heading--tertiary heading--purple" id="sum">Kokku: 0 €</h2>
        <input class="form__hidden-checkbox" type="checkbox" name="hiddenCheckbox" id="hiddenCheckbox" required oninvalid="this.setCustomValidity('Please choose a product!')" oninput="setCustomValidity('')" aria-hidden>
        <input type="hidden" name="hiddenSum" id="hiddenSum" value="0">
      </div>
    </div>
    <div class="form">
      <h3 class="heading--tertiary heading--purple"><%= telliAnkeetData.pealkiri.est %></h3>
      <div class="form__column">
        <% for (var i = 0; i < telliAnkeetData.valjad.length; i++) { %>
        <div class="form__field">
          <p class="paragraph--small paragraph--purple paragraph--inline u-margin-right-small"><%= telliAnkeetData.valjad[i].checked %></p>
          <input type="text" class="form__input telliField" name="telliField<%= i + 1 %>" id="telliField<%= i + 1 %>" placeholder="<%= telliAnkeetData.valjad[i].est %>" <% if (telliAnkeetData.valjad[i].checked === "*") { %> required <% } %>
            aria-label="<%= telliAnkeetData.valjad[i].est %>">
        </div>
        <% } %>
      </div>
      <button class="btn btn--main btn--dark" type="submit" name="submitBtn">Telli</button>
      <p class="paragraph--small paragraph--purple u-margin-top-big"><%= telliAnkeetData.jarelloik.est %></p>
    </div>
  </form>
</div>
<%- include partials/footer -%>
