<%- include partials/head {pageTitle: pageTitle, paiseikoon: paiseikoon} -%>
<%- include partials/navigation {currentPage: currentPage} -%>
<div class="popup hide" id="successPopup">
  <div class="popup__form">
    <div class="form">
      <h3 class="heading--tertiary heading--white u-margin-bottom-big">Andmed edastatud!</h3>
      <div class="">
        <button class="btn btn--main btn--dark" type="button" name="button" id="successBtn">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="popup hide" id="failurePopup">
  <div class="popup__form">
    <div class="form">
      <h3 class="heading--tertiary heading--purple">Midagi läks sassi! Proovi uuesti!</h3>
      <div class="">
        <button class="btn btn--main btn--dark" type="button" name="button" id="failureBtn">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="page-vastuvott__container">
  <div class="page-vastuvott__text-box">
    <h2 class="heading--secondary heading--purple u-margin-bottom-big">Vastuvõtt</h2>
    <% for (var i = 0; i < vastuvottTekstidData.length; i++) { %>
    <p class="paragraph--large paragraph--purple u-margin-bottom-big"><%= vastuvottTekstidData[i].est %></p>
    <% } %>
  </div>
  <% if (vastuvottAnkeetData.valjad.length !== 0) { %>
  <div class="page-vastuvott__form-box">
    <form action="/upload/ankeet" method="post" class="form" id="ankeet" name="ankeet">
      <h3 class="heading--tertiary heading--white u-margin-bottom-big">Liitu kooriga!</h3>
      <% for (var i = 0; i < vastuvottAnkeetData.valjad.length; i++) { %>
      <textarea class="form__input form__text-area ankeetField" id="text-area" name="entry.887993234" rows="1" placeholder="<%= vastuvottAnkeetData.valjad[i].est %>" required aria-label="<%= vastuvottAnkeetData.valjad[i].est %>"></textarea>
      <% } %>
      <button class="btn btn--main btn--dark u-margin-top-big" type="submit" name="submit">Saada</button>
    </form>
  </div>
  <% } %>
</div>
<%- include partials/footer -%>
